<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container" style="width:1230px">
    <div class="panel">
      <div class="box-line">
        <h3 class="title-heading">Please complete the form</h3>
      </div>
      <%if params[:action]=="edit"%>
        <% url = tenant_path(@tenant) %>
      <%else%>
        <% url = tenants_path%>
      <%end%>
      <%= form_for @tenant,url: url, html: { multipart: true,class: "proper-form-step" },:style=>"" do |f| %>
        <div class="proper-form-step-area">
          <h4>Personal Information</h4>
          <div style="width:300px;height:400px">
            <div class="span5">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: "input-block-level", required: "true" %>
            </div>
            <div class="span5">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: "input-block-level", required: "true" %>
            </div>
            <div class="span5">
              <%= f.label :address1 %>
              <%= f.text_field :address1, class: "input-block-level", required: "true" %>
            </div>
            <div class="span5">
              <%= f.label :address2 %>
              <%= f.text_field :address2, class: "input-block-level", required: "true" %>
            </div>
            <div class="span5">
              <%= f.label :address3 %>
              <%= f.text_field :address3, class: "input-block-level", required: "true" %>
            </div>
            <div class="span5">
              <%= f.label :postcode %>
              <%= f.text_field :postcode, class: "input-block-level", required: "true" %>
            </div>
            <div class="span5">
              <%= f.label "Phone" %>
              <%= f.text_field :phone, class: "input-block-level", required: "true" %>
            </div>
            <div class="span5">
              <%= f.label "Alternate Phone" %>
              <%= f.text_field :mobile, class: "input-block-level", required: "true" %>
            </div>
            <div class="span5">
              <%= f.label :email %>
              <%if params[:action]=="edit"%>
                <%= f.text_field :email, class: "input-block-level", required: "true", disabled: "true" %>
              <%else%>
                <%= f.text_field :email, class: "input-block-level", required: "true" %>
              <%end%>
            </div>
            <div class="span5">
              <%= f.label "Date Of Birth" %>
              <%= f.date_select :dob, class: "input-block-level", required: "true", start_year: 1980,end_year: 2015, :order => [:day, :month, :year] %>
            </div>
          </div>
        </div>
        <%= f.submit 'Save', class: "btn btn-proper btn-large" %>
      <%end%>
    </div>
  </div>
</div>

<style type="text/css">
  select{
    width: 100% !important;
  }
  
  .input-block-level{
    display: inline-block;
    width: 250px !important;
    float: right;
  }
  label{
    display: inline-block;
    width: auto;
    margin: 5px
  }
  #user_dob_1i{
    width: 20% !important;
    float: right;
  }
  #user_dob_2i{
    width: 30% !important;
    float: right;
  }
  #user_dob_3i{
    width: 15% !important;
    float: right;
  }
</style>