<% page_header "Start Conversation" %>
<%= form_tag messages_path, method: :post do %>
  <div class="form-group">
    <%= label_tag 'message[subject]', 'Subject' %>
    <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true, :style => "height:34px;border-radius: 4px;" %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true, :style => "height:auto" %>
  </div>

  <div class="form-group">
   <%= label_tag 'recipients', 'Choose recipients' %>
   <%= select_tag 'recipients', recipients_options, multiple: true, class: 'form-control chosen-it' %>
  </div>
  <%= submit_tag 'Send', class: 'btn btn-primary' %>
<% end %>

<style type="text/css">

    .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eeeeee;
    }

    * {
        -webkit-box-sizing: border-box;
    }

    div {
        display: block;
    }

    *:before, *:after {
        -webkit-box-sizing: border-box;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333333;
        background-color: white;
    }

    html {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    form {
        display: block;
        margin-top: 0em;
        margin-bottom: 0;
        padding-bottom: 30px;
        margin: 0 0 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        cursor: default;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        background-color: white;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

</style>



