<table class="sticky_search_data table" style="width: 75%">
	<tr>
		<th></th>
		<th><%= @user.status=="landlord" ? "Landlord" : "Tenant" %></th>
	</tr>

	<tr>
		<td>Name</td>
		<td><%= @user.name %></td>
	</tr>
	<tr>
		<td>Contact</td>
		<td><%= @user.phone || @user.mobile %></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<td></td>
		<td><a class='btn btn-proper' href='/<%= @user.status=="landlord" ? "landlords" : "tenants" %>/<%= @user.id %>/edit '>Go to Record</a></td>
	</tr>

</table>