<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style" >
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="featured-grid right-space">
    <div class="proper-form-step-area">
      <div class="tenant_search">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="proper-singup">
              <%= devise_error_messages! %>
              <h1 class=""><i class="icon-user"></i> Sign Up</h1>

              <div class="field">
                <%= f.label :username %>
                <%= f.text_field :username, autofocus: true %>
              </div>
              <div class="field">
               <%= f.label :email %>
               <%= f.email_field :email, placeholder: "Email Address" %>
              </div>
              <div class="field">
                <%= f.label :address %>
                <%= f.text_area :address, placeholder: "Address" %>
              </div>
              <div class="field">
                <%= f.label :phone %>
                <%= f.number_field :phone, placeholder: "Phone Number" %>
              </div>
              <div class="field">
                <%= f.label :password %>
                <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
              <div class="field">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
              <div class="field">
                <%= f.label :tenant %>
                <%= f.radio_button :status, 'tenant', :checked => true %>
              </div>
              <div class="field1">
                <%= f.label :landlord %>
                <%= f.radio_button :status, 'landlord' %>
              </div>
              <br>
              <div class="actions">
                <%= f.submit "Register" , class: "btn-proper btn"%>
                <h4>Already have an account?</h4>
              </div>
              <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>