
    <!--Start Content-->
    <div id="content">
      <!--    News Carousel-->
      <div class="news-carousel-wrapper">
        <dl id="news-carousel" class="news-carousel-style">
          <dt><a href="#">News Link Here</a></dt>
          <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
          <dt><a href="#">Promo Link Here</a></dt>
          <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
          <dt><a href="#">Another Link Here</a></dt>
          <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
        </dl>
      </div>
      <!--    End News Carousel-->
      <!--Start Form Singup-->
      <div class="featured-grid right-space">
        <div class="proper-form-step-area">
          <div class="tenant_search">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="proper-singup">
                <%= devise_error_messages! %>
               <h1 class=""><i class="icon-user"></i> Sing Up</h1>

              <div class="field">
                <%= f.label :username %>
                <%= f.text_field :username, autofocus: true %>
              </div>

              <div class="field">
               <%= f.label :email %>
               <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :address %>
                <%= f.text_area :address, autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :phone %>
                <%= f.text_field :phone, autofocus: true %>
               </div>

              <div class="field">
                <%= f.label :password %>
                <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :tenant %>
                <%= f.radio_button :status, 'tenant', :checked => true %>
              </div>

              <div class="field1">
                <%= f.label :landlord %>
                <%= f.radio_button :status, 'landlord' %>
              </div>
              <br>
              <div class="actions">
                <%= f.submit "Register" , class: "btn-proper btn"%>
                <h4>Already have an account?</h4>
              </div>

          <% end %>

          <%= render "devise/shared/links" %>
       </div><!--End Form Singup-->
      </div><!--EndContent-->
    </div>
    </div>

    </div>