<p>First Name: <%= @appraisal.firstname %></p>

<p>Last Name: <%= @appraisal.lastname %></p>

<p>Email: <%= @appraisal.email %></p>

<p>Contact Number: <%= @appraisal.contact %></p>

<p>Comments: <%= @appraisal.comments %></p>

<p>Type: <%= @appraisal.status %></p>