<div class="container">

  <h1>Contacts</h1>

  <%= form_tag :controller => 'rubyzohos', :action => 'con' do %>
    <%= label_tag "Firstname" %> <br>
    <%= text_field_tag "Firstname" %><br><br>
    <%= label_tag "Lastname" %> <br>
    <%= text_field_tag "Lastname" %><br><br>
    <%= label_tag "Email" %> <br>
    <%= text_field_tag "Email" %><br><br>
    <%= label_tag "Department" %> <br>
    <%= text_field_tag "Department" %><br><br>
    <%= label_tag "Date_of_birth" %> <br>
    <%= text_field_tag "Date_of_birth" %><br><br>
    <%= label_tag "Mobile" %> <br>
    <%= text_field_tag "Mobile" %><br><br>
    <%= submit_tag "Submit" %>
  <% end %>
</div>  