<!-- <div class="container"> -->
  <table>
    <thead>
    <tr>
      <th>Potential Owner</th>
      <th>Amount</th>
      <th>Account Name</th>
      <th>Stage</th>
      <th>Type</th>
      <th>Probability</th>
      <th>Next Step</th>
      <th>Expected Revenue</th>
      <th>Lead Source</th>
      <th>Potential Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @po.each do |po| %>
        <tr>
          <td><%= po.potential_owner %></td>
          <td><%= po.amount %></td>
          <td><%= po.account_name %></td>
          <td><%= po.stage %></td>
          <td><%= po.type %></td>
          <td><%= po.probability %></td>
          <td><%= po.next_step %></td>
          <td><%= po.expected_revenue %></td>
          <td><%= po.lead_source %></td>
          <td><%= po.potential_name %></td>
          <td><%= po.description %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<!-- </div>   -->