<!-- <div class="container"> -->
  <table>
    <thead>
    <tr>
      <th>Account Name</th>
      <th>Account Number</th>
      <th>Account Owner</th>
      <th>Account Site</th>
      <th>Account Type</th>
      <th>Account ID</th>
      <th>Annual Revenue</th>
      <th>Billing City</th>
      <th>Billing Code</th>
      <th>Billing Country</th>
      <th>Billing State</th>
      <th>Billing Street</th>
      <th>Description</th>
      <th>Employees</th>
      <th>Fax</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @acc.each do |ac| %>
        <tr>
          <td><%= ac.account_name %></td>
          <td><%= ac.account_number %></td>
          <td><%= ac.account_owner %></td>
          <td><%= ac.account_site %></td>
          <td><%= ac.account_type %></td>
          <td><%= ac.accountid %></td>
          <td><%= ac.annual_revenue %></td>
          <td><%= ac.billing_city %></td>
          <td><%= ac.billing_code %></td>
          <td><%= ac.billing_country %></td>
          <td><%= ac.billing_state %></td>
          <td><%= ac.billing_street %></td>
          <td><%= ac.description %></td>
          <td><%= ac.employees %></td>
          <td><%= ac.fax %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<!-- </div>   -->