<div class="container">
	<h1>Welcome To RubyZohos </h1>
	<%= link_to 'Accounts', accounts_path %><br><br>
	<%= link_to 'Contacts', crm_contact_path %><br><br>
	<%= link_to 'Leads', leads_path %><br><br>
	<%= link_to 'Tasks', tasks_path %><br><br>
	<%= link_to 'Potential', potential_path %>
</div>	