<!--Start Content-->
            <div id="content">
                <!--Start Main Title-->
                <div id="main-title-content">
                    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
                    <div class="container">
                        <div class="panel">
                            <h1>Our Agents</h1>    
                            <p>Sub Title Here</p>    
                        </div>
                    </div>
                </div> <!--ENd Main Title-->
                <!--    News Carousel-->
                <div class="news-carousel-wrapper">
                    <dl id="news-carousel" class="news-carousel-style">
                      <%= render 'properties/news_carousel'%>
                    </dl>
                </div>
                <!--    End News Carousel-->

                <div class="container agent-panel">
                    <div class="item-agent panel ">
                      <% @agents.each do |agent| %>
                        <div class="row-fluid">
                            <div class="span3 bottom-line line-after">
                                <div class="panel">
                                    <h3 class="main-heading bottom-line line-after"><span class="main-circle-icon"><i class="icon-user"></i></span> <%= agent.name %></h3>
                                    <a href="#" class="agent-image">
                                      <%=  image_tag agent.image.url, class: "full", class: "img-circle", :style=>"height:145px;width:230px;" %>
                                    </a>
                                </div>
                            </div>
                            <div class="span9 ">
                                <div class="panel left-line bottom-line desc-agent-preview">
                                    <h3 class="line-before bottom-line main-heading"><span class="main-circle-icon"><i class="icon-circle-arrow-down"></i></span> <%= agent.name %> Detail</h3>
                                    <p> </p>
                                    <ul class="unstyled">
                                        <li><i class="icon-phone"></i> <%= agent.phone %></li>
                                        <li><i class="icon-envelope"></i> <%= agent.address %></li>
                                        <li><i class="icon-facebook"></i> <%= agent.name%></li>
                                        <li><i class="icon-twitter"></i> @<%= agent.name%></li>
                                    </ul>
                                    <div class="agent-image-properties">
                                        <% if agent.properties.empty? %>
                                           <a href="#"><img src="assets/default_images/no.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra" style="width:55px;height:55px;"/></a>
                                           <a href="#"><img src="assets/default_images/no.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra" style="width:55px;height:55px;"/></a>
                                           <a href="#"><img src="assets/default_images/no.jpg" class="img-polaroid tootip" data-toggle="tooltip" data-placement="bottom" title="033 Central Park" alt="033 Centra" style="width:55px;height:55px;"/></a>
                                        <% else %>
                                        <% @prop = agent.properties[0] %>
                                           <%= image_tag @prop.image1.url, class: "img-polaroid tootip", :style=>"width:55px;height:55px;" %>
                                              <%= image_tag @prop.image2.url, class: "img-polaroid tootip", :style=>"width:55px;height:55px;" %>
                                                  <%= image_tag @prop.image3.url, class: "img-polaroid tootip", :style=>"width:55px;height:55px;" %> 
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <% end %>
                    </div>
                                             <!-- Start Pagination    -->
                    <!--<div class="pagination pagination-large">-->
                        <!--<ul>-->
                            <!--<li><a href="#"><i class=" icon-angle-left"></i></a></li>-->
                            <!--<li class="active"><a href="#">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#"><i class=" icon-angle-right"></i></a></li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash; end Pagination    &ndash;&gt;-->
                </div>
            </div><!--End Content-->            
