            <!-- start Content -->
      <div id="content">
          <div class="panel googleMaparea">
              <div id="googleMap" class="">
              </div>
              <div class="map-with-agent visible-desktop">
                  <h3 >Your Message Here</h3>
                  <img src="/assets/agents/n5.png" alt="ceo"/>
              </div>
          </div>
          <!--    News Carousel-->
          <div class="news-carousel-wrapper">
              <dl id="news-carousel" class="news-carousel-style">
                  <dt><a href="#">News Link Here</a></dt>
                  <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                  <dt><a href="#">Promo Link Here</a></dt>
                  <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                  <dt><a href="#">Another Link Here</a></dt>
                  <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
              </dl>
          </div>
          <!--    End News Carousel-->

          <div class="container">
              <div class="row-fluid">
                  <div class="span9">
                      <div class="panel right-line">
                          <!--Start Grid Featured-->
                          <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span> Properties Around you</h2>
                          <div class="featured-grid right-space">
                            <div class="scroll">
                              <div class="box-white">
                                  <div class="grid-item grid-style-properties">
                                     <% if @tasks.empty? %>
                                        <div class="item" >
                                          <a href="#" class="with-hover">
                                            <img alt='images' src="assets/default_images/no.jpg" class="full"/><span class="mask_hover"></span>
                                          </a>
                                        </div>
                                        <% else %>
                                          <% @tasks.each do |task| %>
                                            <% if task.visibility== true %>
                                              <div class="item">
                                                  <a href="#" class="with-hover">
                                                    <% if task.category== "rent" || "Rent" %>
                                                        <div class="for_rent_banner"></div>
                                                    <% else %>
                                                        <div class="for_sale_banner"></div>
                                                    <% end %>
                                                    <a href=<%="/properties_detail/#{task.slug}"%>><%=  image_tag task.image1.url, class: "full", class: "mask_hover" %></a>   </a>
                                                      <h4 class=" "><%= task.name %></h4>
                                                      <div class="preview-properties ">
                                                        <div class="box-detail">
                                                          <p class="text-center short-detail">
                                                            <span class="label">
                                                              <i class="icon-circle-arrow-right">
                                                            Bath : <%= task.bath  %> </i> </span>
                                                             <span class="label">
                                                             <i class="icon-circle-arrow-right">
                                                            Beds :<%= task.beds %>  </i> </span>
                                                             <span class="price">
                                                             $<%= task.price.to_i %></span>
                                                          </p>
                                                          <div class="clearfix">
                                                            <div class="btn-proper btn btn-small pull-left">
                                                            <a href=<%="/properties_detail/#{task.slug}"%>>See Detail</a>

                                                            </div>
                                                            <a href="#" class="btn-proper btn btn-small pull-right">Compare</a>

                                                          </div>
                                                        </div>
                                                      </div>
                                              </div>
                                            <% end %>
                                          <% end %>
                                     <% end %>

                                  </div>
                              </div>
                              <!--End Grid Featured-->
                            </div>
                          </div>

                          <!--Start New List-->
                          <h2 class="main-heading bottom-line top-line "><span class="main-circle-icon"><i class="icon-book"></i></span> News</h2>
                          <div class=" news right-space">
                              <div class="media box-white">
                                  <a class="pull-left" href="#">
                                      <img alt="images" class="media-object" src="assets/news/thum/n1.jpg">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="media-heading">Investor Club</h4>
                                      <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                                          Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.</p>
                                      <a href="#" class="btn-proper btn btn-small ">Read More</a>
                                  </div>
                              </div>
                              <div class="media box-white">
                                  <a class="pull-left" href="#">
                                      <img alt="images" class="media-object" src="http://placehold.it/150x90">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="media-heading">Investor Club</h4>
                                      <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                                          Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.</p>
                                      <a href="#" class="btn-proper btn btn-small ">Read More</a>
                                  </div>
                              </div>
                          </div>
                          <!--End News List-->
                      </div>
                  </div>
                  <div class="span3">
                      <div class="panel">
                          <!--Start Form Search Properties-->
                        <form class="bottom-line line-before" action="/index" method="get">
                          <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-search"></i></span>Find Properties</h3>
                            <%= search_form_for Property.search(params[:q]) do |f| %>
                              <div class="field">
                                <div class="input-block-level">
                                  <%= f.label :name_cont, "Name" %>
                                  <%= f.search_field :name_cont, class: "tc1size" %>
                                </div>
                                <div class="input-block-level">
                                  <%= f.label :category_cont, "Category" %>
                                  <%= f.select :category_cont, ["Rent","Sale"], class: "tcksize" %>
                                </div>
                                <div class="control-group half pull-left">
                                  <%= f.label :price_lteq, "Min Price" %>
                                  <%= f.search_field :price_lteq, class: "tpgsize" %>
                                </div>
                                <div class="control-group half text-right pull-right">
                                  <%= f.label :price_gteq, "Max Price", class: "tpgsize"  %>
                                  <%= f.search_field :price_gteq, class: "tpgsize" %>
                                </div>
                                <div class="input-block-level">
                                  <%= f.label :beds_eq, "Beds" %>
                                  <%= f.search_field :beds_eq, class: "tc1size" %>
                                </div>
                                <div class="input-block-level">
                                  <%= f.label :bath_eq, "Bath" %>
                                  <%= f.search_field :bath_eq, class: "tc1size" %>
                                </div>
                              </div>
                              <div class="actions"><%= f.submit "Search" %></div>
                            <% end %>
                          </form>
                          <!--Start List Our Agent-->
                          <h3 class="bottom-line  line-before main-heading"><span class="main-circle-icon"><i class="icon-list"></i></span>  Our Agents</h3>
                          <div class="list-items ">

                              <div class="item">
                                  <div class="img-preview">
                                      <img src="assets/agents/thum_list/a2.jpg" alt="Corin Langpost" />
                                  </div>
                                  <div class="item-desk">
                                      <div class="title">
                                          <h3><a href="#">Angelina Cos</a></h3>
                                      </div>
                                      <div class="location">Palo Alto CA</div>
                                      <a href="#" class="btn-proper btn-mini btn">Profile Page</a>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="item">
                                  <div class="img-preview">
                                      <img src="assets/agents/thum_list/a1.jpg" alt="Corin Langpost" />
                                  </div>
                                  <div class="item-desk">
                                      <div class="title">
                                          <h3><a href="#">Angelina Cos</a></h3>
                                      </div>
                                      <div class="location">Palo Alto CA</div>
                                      <a href="#" class="btn-proper btn-mini btn">Profile Page</a>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="item">
                                  <div class="img-preview">
                                      <img src="http://placehold.it/100x80" alt="Corin Langpost" />
                                  </div>
                                  <div class="item-desk">
                                      <div class="title">
                                          <h3><a href="#">Angelina Cos</a></h3>
                                     </div>
                                      <div class="location">Palo Alto CA</div>
                                      <a href="#" class="btn-proper btn-mini btn">Profile Page</a>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                          </div>
                          <!--End List Our AGents -->

                      </div>
                  </div>
              </div>
          </div>
      </div>

<script type="text/javascript">
$(document).ready(function() {
  init_gmap3()
});

  function init_gmap3(){
    $(function(){
        var icon_villa = "assets/map/hostel_0star.png";
        var icon_hotel = "assets/map/villa.png";
        var img_p = "assets/properties/p1.jpg";
        $("#googleMap").gmap3({
            map:{
                // CENTRAL MAP DEFAULT
                address:"167/169 saltwell road, gateshead, NE8 4TJ",
                options:{
                    zoom:12,
                    scaleControl: false,
                    scrollwheel: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    }
                }
            },
            marker:{
                // DATA LOCATION
                values:[
                {
                    latLng:[54.9484992,-1.6144501],
                    data:{
                        img_preview: img_p, 
                        properties_name:"We are here - SEAL Properties 0191 5805900",
                        properties_desc:"Opening times Mon-fri Sat",
                        properties_link:"#", 
                        zip:"009800",
                        city:"167/169 Saltwell Road, Gateshead, NE8 4TJ",
                        id: '0'
                    }, 
                    options:{
                        icon: icon_hotel //Image or icon of shop want to display on map
                    }
                },
                <% @tasks.each do |obj| %>
                <%# address =  "#{obj.address1} #{obj.address2} #{obj.address3}"%>
                <%#sleep 0.3%>

                <% a=obj.coordinates%>
                <%lat = (a.nil? ? "" : a.split(",")[0].to_f) %>
                <%lng = (a.nil? ? "" : a.split(",")[1].to_f) %>
                {
                    latLng:[<%= lat%>,<%= lng%>], 
                    data:{
                        img_preview: img_p, 
                        properties_name:'<%= obj.name%>',
                        properties_desc:'<%=obj.description%>',
                        properties_link:"#", 
                        zip:'<%=obj.postcode%>', 
                        city:'<%=obj.address3%>',
                        id: '<%=obj.id%>'
                    }, 
                    options:{
                        icon: icon_villa
                    }
                },
                <% end %>
                ],
                events:{
                    mouseover: function(marker, event, context){
                        $(this).gmap3(
                        {
                            clear:"overlay"
                        },

                        {
                            overlay:{
                                latLng: marker.getPosition(),
                                options:{
                                    content:  "<div class='info-location'>" +
                                    "<div class='text'><h4><a href='/properties_detail/"+context.data.slug+"'>" 
                                    + context.data.properties_name +
                                    "</a></h4>"+
                                    "<a href='/properties_detail/"+context.data.slug+"'><img src='"+ context.data.img_preview +"' width=90></a> $300.999 <br/>"+
                                    context.data.properties_desc +
                                    "<br/><a href='"+context.data.properties_link +"'class='btn btn-proper btn-small'>See Detail</a></div>" +
                                    "</div>" +
                                    "<div class='arrow-location'></div>",
                                    offset: {
                                        x:-46,
                                        y:-73
                                    }
                                }
                            }
                        });
                    }
                    
                }
            }
      
        });
    });
  }

</script>

