
            <!-- start Content -->
      <div id="content">
          <div class="panel googleMaparea">
              <div id="googleMap" class="">
              </div>
              <div class="map-with-agent visible-desktop">
                  <h3 >Your Message Here</h3>
                  <img src="assets/agents/n5.png" alt="ceo"/>
              </div>
          </div>
          <!--    News Carousel-->
          <div class="news-carousel-wrapper">
              <dl id="news-carousel" class="news-carousel-style">
                  <dt><a href="#">News Link Here</a></dt>
                  <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                  <dt><a href="#">Promo Link Here</a></dt>
                  <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                  <dt><a href="#">Another Link Here</a></dt>
                  <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
              </dl>
          </div>
          <!--    End News Carousel-->

          <div class="container">
              <div class="row-fluid">
                  <div class="span9">
                      <div class="panel right-line">
                          <!--Start Grid Featured-->
                          <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span> Properties Around you</h2>
                          <div class="featured-grid right-space">
                              <div class="box-white">
                                  <div class="grid-item grid-style-properties">
                                    <% if @tasks.empty? %>
                                        <div class="item">
                                          <a href="#" class="with-hover">
                                            <img alt='images' src="assets/default_images/no.jpg" class="full"/><span class="mask_hover"></span>
                                          </a>
                                        </div>
                                        <% else %>
                                          <% @tasks.each do |task| %>
                                            <% if task.visibility== true %>
                                              <div class="item">
                                                  <a href="#" class="with-hover">
                                                    <% if task.category== "Rent" %>
                                                        <div class="for_rent_banner"></div>
                                                    <% else %>
                                                        <div class="for_sale_banner"></div>
                                                    <% end %>
                                                    <a href=<%="/properties/#{task.id}"%>><%=  image_tag task.image1.url, class: "full", class: "mask_hover" %></a>   </a>
                                                      <h4 class=" "><%= task.name %></h4>
                                                      <div class="preview-properties ">
                                                        <div class="box-detail">
                                                          <p class="text-center short-detail">
                                                            <span class="label">
                                                              <i class="icon-circle-arrow-right">
                                                            Bath : <%= task.bath  %> </i> </span>
                                                             <span class="label">
                                                             <i class="icon-circle-arrow-right">
                                                            Beds :<%= task.beds %>  </i> </span>
                                                             <span class="price">
                                                             $<%= task.price %></span>
                                                          </p>
                                                          <div class="clearfix">
                                                            <div class="btn-proper btn btn-small pull-left">
                                                            <a href=<%="/properties/#{task.id}"%>>See Detail</a>

                                                            </div>
                                                            <a href="#" class="btn-proper btn btn-small pull-right">Compare</a>

                                                          </div>
                                                        </div>
                                                      </div>
                                              </div>
                                            <% end %>
                                          <% end %>
                                        <% end %>
                                  </div>
                              </div>
                              <!--End Grid Featured-->
                          </div>

                          <!--Start New List-->
                          <h2 class="main-heading bottom-line top-line "><span class="main-circle-icon"><i class="icon-book"></i></span> News</h2>
                          <div class=" news right-space">
                              <div class="media box-white">
                                  <a class="pull-left" href="#">
                                      <img alt="images" class="media-object" src="assets/news/thum/n1.jpg">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="media-heading">Investor Club</h4>
                                      <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                                          Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.</p>
                                      <a href="#" class="btn-proper btn btn-small ">Read More</a>
                                  </div>
                              </div>
                              <div class="media box-white">
                                  <a class="pull-left" href="#">
                                      <img alt="images" class="media-object" src="http://placehold.it/150x90">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="media-heading">Investor Club</h4>
                                      <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                                          Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.</p>
                                      <a href="#" class="btn-proper btn btn-small ">Read More</a>
                                  </div>
                              </div>
                          </div>
                          <!--End News List-->
                      </div>
                  </div>
                  <div class="span3">
                      <div class="panel">
                          <!--Start Form Search Properties-->
                          <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-search"></i></span>  Find Properties</h3>
                          <form class="bottom-line line-before" action="?" method="get">
                              <label>Location</label>
                            <%= search_form_for @search do |f| %>
                                <div class="field">
                                  <%= f.text_field :name_cont %>
                                </div>
                                <div class="actions"><%= f.submit "Search" %></div>
                            <% end %>
                          </form>
                          <!--Start List Our Agent-->
                          <h3 class="bottom-line  line-before main-heading"><span class="main-circle-icon"><i class="icon-list"></i></span>  Our Agents</h3>
                          <div class="list-items ">

                              <div class="item">
                                  <div class="img-preview">
                                      <img src="assets/agents/thum_list/a2.jpg" alt="Corin Langpost" />
                                  </div>
                                  <div class="item-desk">
                                      <div class="title">
                                          <h3><a href="#">Angelina Cos</a></h3>
                                      </div>
                                      <div class="location">Palo Alto CA</div>
                                      <a href="#" class="btn-proper btn-mini btn">Profile Page</a>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="item">
                                  <div class="img-preview">
                                      <img src="assets/agents/thum_list/a1.jpg" alt="Corin Langpost" />
                                  </div>
                                  <div class="item-desk">
                                      <div class="title">
                                          <h3><a href="#">Angelina Cos</a></h3>
                                      </div>
                                      <div class="location">Palo Alto CA</div>
                                      <a href="#" class="btn-proper btn-mini btn">Profile Page</a>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="item">
                                  <div class="img-preview">
                                      <img src="http://placehold.it/100x80" alt="Corin Langpost" />
                                  </div>
                                  <div class="item-desk">
                                      <div class="title">
                                          <h3><a href="#">Angelina Cos</a></h3>
                                     </div>
                                      <div class="location">Palo Alto CA</div>
                                      <a href="#" class="btn-proper btn-mini btn">Profile Page</a>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                          </div>
                          <!--End List Our AGents -->
                      </div>
                  </div>
              </div>
          </div>
      </div>

