<div id="content">
  <div class="panel googleMaparea">
      <div id="googleMap" class=""></div>
      <div class="map-with-agent visible-desktop">
          <h3><%= @settings.admin_text %></h3>
          <%= image_tag responsive_image(@settings.admin_image), :style=>"height:300px;" %>
      </div>
  </div>
  <div class="news-carousel-wrapper">
      <dl id="news-carousel" class="news-carousel-style">
        <%= render 'properties/news_carousel' %>
      </dl>
  </div>

  <div class="container">
    <div class="row-fluid" style="width:110%">
      <div class="span9">
        <div class="panel right-line">
          <h2 class="main-heading bottom-line">
            <span class="main-circle-icon"><i class="icon-building"></i></span> Properties Around you
          </h2>
          <div class="featured-grid right-space">
            <div class="scroll" style="height:882px">
              <div class="box-white">
                <div class="grid-item grid-style-properties">
                  <% if @tasks.empty? %>
                    <div class="item" >
                      <a href="#" class="with-hover">
                        <img alt='images' src="assets/default_images/no.jpg" class="full"/>
                        <span class="mask_hover"></span>
                      </a>
                    </div>
                  <% else %>
                    <% @tasks.each do |task| %>
                      <% if task.visibility== true %>
                        <div class="item">
                          <a href="#" class="with-hover">
                            <% if task.category== "rent" || "Rent" %>
                                <div class="for_rent_banner"></div>
                            <% else %>
                                <div class="for_sale_banner"></div>
                            <% end %>
                            <a href=<%="/properties_detail/#{task.slug}"%>><%=  image_tag (responsive_image(task.image1)), class: "full", class: "mask_hover" %></a>
                          </a>
                          <h4 class=" "><%= task.name %></h4>
                          <div class="preview-properties ">
                            <div class="box-detail">
                              <p class="text-center short-detail">
                                <span class="label">
                                  <i class="icon-circle-arrow-right"></i>Bath : <%= task.bath  %>
                                </span>
                                 <span class="label">
                                  <i class="icon-circle-arrow-right"></i>Beds :<%= task.beds %>
                                </span>
                                <span class="price">
                                  £<%= task.price.to_i %>
                                </span>
                              </p>
                              <div class="clearfix">
                                <div class="btn-proper btn btn-small pull-left">
                                  <a href=<%="/properties_detail/#{task.slug}"%>>See Detail</a>
                                </div>
                                <a href="#" class="btn-proper btn btn-small pull-right">Compare</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="panel">
            <!--Start Form Search Properties-->
          <form class="bottom-line line-before" action="/index" method="get">
            <h3 class="main-heading bottom-line line-before">
              <span class="main-circle-icon"><i class="icon-search"></i></span>Find Properties
            </h3>
            <%= search_form_for Property.search(params[:q]) do |f| %>
              <div class="field">
                <div class="input-block-level">
                  <%= f.label :name_cont, "Name" %>
                  <%= f.search_field :name_cont, class: "tc1size" %>
                </div>
                <div class="input-block-level">
                  <%= f.label :category_cont, "Category" %>
                  <%= f.select :category_cont, ["Rent","Sale"], class: "tcksize" %>
                </div>
                <div class="control-group half pull-left">
                  <%= f.label :price_lteq, "Min Price" %>
                  <%= f.search_field :price_lteq, class: "tpgsize" %>
                </div>
                <div class="control-group half text-right pull-right">
                  <%= f.label :price_gteq, "Max Price", class: "tpgsize" %>
                  <%= f.search_field :price_gteq, class: "tpgsize" %>
                </div>
                <div class="input-block-level">
                  <%= f.label :beds_eq, "Beds" %>
                  <%= f.search_field :beds_eq, class: "tc1size" %>
                </div>
                <div class="input-block-level">
                  <%= f.label :bath_eq, "Bath" %>
                  <%= f.search_field :bath_eq, class: "tc1size" %>
                </div>
                <div class="input-block-level">
                  <%= f.label :postcode_eq, "Postcode" %>
                  <%= f.search_field :postcode_eq, class: "tc1size" %>
                </div>
                <div class="control-group half pull-left">
                  <%=f.label :radius, "Radius"%>
                  <%=f.select :radius, ["Select","1/4","1/2","1","3","5","10","15","20","30","40"] %>
                </div><br><br><br>
              </div>
              <div class="actions"><%= f.submit "Search", :style=>"margin-left:-112px;" %></div>
            <% end %>
          </form>
            <!--Start List Our Agent-->
          <h3 class="bottom-line  line-before main-heading">
            <span class="main-circle-icon"><i class="icon-list"></i></span>  Our Agents
          </h3>
          <div class="list-items ">
            <% @agents.each do |agent| %>
              <div class="item">
                <%=  image_tag responsive_image(agent.image), alt: "Corin Langpost", class: "img-preview" %>
                  <div class="item-desk">
                    <div class="title">
                      <h3><a href="#"><%=agent.name%></a></h3>
                    </div>
                    <div class="location"><%=agent.address%></div>
                    <a href="#" class="btn-proper btn-mini btn">Profile Page</a>
                  </div>
                <div class="clearfix"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    init_gmap3()
  });

  function init_gmap3(){
    $(function(){
      var icon_villa = "assets/map/hostel_0star.png";
      var icon_hotel = "assets/map/villa.png";
      var img_p = "assets/properties/p1.jpg";
      $("#googleMap").gmap3({
        map:{
          // CENTRAL MAP DEFAULT
          address:"167/169 saltwell road, gateshead, NE8 4TJ",
          options:{
            zoom:16,
            scaleControl: false,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
            }
          }
        },
        marker:{
            // DATA LOCATION
          values:[
          {
            latLng:[54.9484992,-1.6144501],
            data:{
              img_preview: img_p, 
              properties_name:"We are here - SEAL Properties 0191 5805900",
              properties_desc:"Opening times Mon-fri Sat",
              properties_link:"#", 
              zip:"009800",
              city:"167/169 Saltwell Road, Gateshead, NE8 4TJ",
              id: '0'
            }, 
            options:{
              icon: icon_hotel //Image or icon of shop want to display on map
            }
          },
          <% @tasks.each do |obj| %>
            <% a = obj.coordinates%>
            <%lat = (a.nil? ? "" : a.split(",")[0].to_f) %>
            <%lng = (a.nil? ? "" : a.split(",")[1].to_f) %>
            {
              latLng:[<%= lat%>,<%= lng%>],
              data:{
                img_preview: img_p, 
                properties_name:'<%= obj.name%>',
                properties_desc:'<%=obj.short_description%>',
                properties_link:"#", 
                zip:'<%=obj.postcode%>', 
                city:'<%=obj.address3%>',
                id: '<%=obj.id%>'
              }, 
              options:{
                icon: icon_villa
              }
            },
          <% end %>
          ],
          events:{
            mouseover: function(marker, event, context){
              $(this).gmap3(
              {
                clear:"overlay"
              },

              {
                overlay:{
                  latLng: marker.getPosition(),
                  options:{
                    content:  "<div class='info-location'>" +
                    "<div class='text'><h4><a href='/properties_detail/"+context.data.slug+"'>" 
                    + context.data.properties_name +
                    "</a></h4>"+
                    "<a href='/properties_detail/"+context.data.slug+"'><img src='"+ context.data.img_preview +"' width=90></a> £300.999 <br/>"+
                    context.data.properties_desc +
                    "<br/><a href='"+context.data.properties_link +"'class='btn btn-proper btn-small'>See Detail</a></div>" +
                    "</div>" +
                    "<div class='arrow-location'></div>",
                    offset: {
                      x:-46,
                      y:-73
                    }
                  }
                }
              });
            }
          }
        }
      });
    });
  }

</script>

<style>
  select#q_radius{
    width:90px;
  }
</style>