<!-- Start Wrapper-->
<!-- <div id="wrapper"> -->
    <%#= render 'layouts/mobile_header' %>
    <!-- start Content -->
    <div id="content">
        <!-- <div class="panel googleMaparea">
            <div id="googleMap" class="">         
            </div>
            <div class="map-with-agent visible-desktop"> 
                <h3 >Your Message Here</h3>
                <img src="/assets/agents/n5.png" alt="ceo"/>
            </div>
        </div> -->
        <!--    News Carousel-->
        <div class="news-carousel-wrapper">
            <dl id="news-carousel" class="news-carousel-style">
                <% @properties.each do |obj| %>
                  <dt><a href=<%="/properties_detail/#{obj.id}"%>>Latest Property</a></dt>
                  <dd><%= obj.name %> - <%= obj.tag_line %></dd>
                <%end%>
            </dl>
        </div>
        <!--    End News Carousel-->

        <div class="container">
            <div class="row-fluid">
                <div class="span9">
                    <div class="panel right-line">
                        <!--Start Grid Featured-->
                        <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span> Properties Around you</h2>   
                        <div class="featured-grid right-space">
                            <div class="box-white">
                                <div class="grid-item grid-style-properties">
                                    <% @properties.each do |obj| %>
                                        <div class="item">
                                            <a href="#" class="with-hover property">
                                                <div class="desc-type for-sale" style="opacity:0.8"><%=property_status(obj.category, obj.status)%></div>
                                                <%= image_tag "sealmark.png", style: "z-index: 1; overflow: none; position: absolute; top: -21px; right: -14px; height: 20px !important; width: 5px !important", class: "seal_image" if obj.seal_approved == true%>
                                                <a href=<%="/properties_detail/#{obj.slug}"%>><%=  image_tag (responsive_image(obj.image1)), class: "full", class: "mask_hover" %></a>
                                              </a>
                                            <h4 class=" "><%= obj.name %></h4>
                                            <div class="preview-properties ">
                                                <div class="box-detail"> 
                                                    <p class="text-center short-detail">
                                                        <span class="label"><i class="icon-circle-arrow-right"></i> Bath : <%= obj.bath  %></span>
                                                        <span class="label"><i class="icon-circle-arrow-right"></i> Beds : <%= obj.beds  %></span>
                                                        <!-- <span class="label"><i class="icon-circle-arrow-right"></i> Pool : 2</span> -->
                                                        <span class="price">£<%= obj.price.to_i.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></span>
                                                    </p>
                                                    <div class="clearfix">
                                                        <a href=<%="/properties_detail/#{obj.slug}"%> class="btn-proper btn btn-small pull-left">See Details</a>
                                                        <a href="#" class="btn-proper btn btn-small pull-right">Compare</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <%end%>
                                </div>
                            </div>
                            <!--End Grid Featured-->
                        </div>

                        <!--Start New List-->
                       <!--  <h2 class="main-heading bottom-line top-line "><span class="main-circle-icon"><i class="icon-book"></i></span> News</h2>   
                        <div class=" news right-space">
                            <div class="media box-white">
                                <a class="pull-left" href="#">
                                    <img alt="images" class="media-object" src="/assets/news/thum/n1.jpg">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Investor Club</h4>
                                    <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. 
                                        Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.</p>
                                    <a href="#" class="btn-proper btn btn-small ">Read More</a>
                                </div>
                            </div>
                            <div class="media box-white">
                                <a class="pull-left" href="#">
                                    <img alt="images" class="media-object" src="http://placehold.it/150x90">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Investor Club</h4>
                                    <p>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit. 
                                        Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.</p>
                                    <a href="#" class="btn-proper btn btn-small ">Read More</a>
                                </div>
                            </div>
                        </div> -->
                        <!--End News List-->
                    </div>
                </div>
                <div class="span3">
                    <div class="panel">
                        <!--Start Form Search Properties-->
                        <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-search"></i></span>  Find Properties</h3>    
                        <form class="bottom-line line-before" action="/search_results" method="get">
                            <%= search_form_for Property.search(params[:q]) do |f| %>
                            <%= f.label :category_cont, "Category" %>
<!--                             <input type="text" placeholder="Type Your Location" name="" value="" class="input-block-level" required=""/> -->
                            <%= f.select :category_cont, ["Rent","Sale"],{}, class: "input-block-level" %>
                            <br/><br/>
                            <%= f.label :type, "Type" %>
                            <%= f.search_field :property_type_cont,class: "input-block-level",style: "min-height: 0;padding-left:0;padding-right:0" %>
                            
<!--                             <label>Radius</label>
                            <select name="" class="input-block-level" required="">
                                <option value="">This area only</option>
                                <option value="">Within 1/4 mile</option>
                                <option value="">Within 1/2 mile</option>
                                <option value="">Within 1 mile</option>
                                <option value="">Within 3 miles</option>
                                <option value="">Within 5 miles</option>
                                <option value="">Within 10 miles</option>
                                <option value="">Within 15 miles</option>
                                <option value="">Within 20 miles</option>
                                <option value="">Within 30 miles</option>
                                <option value="">Within 40 miles</option>
                            </select> -->
                            <div class="control-group-form">
                                <div class="control-group half pull-left">
                                    <%= f.label :price_lteq, "Min Price",class: "control-label" %>
                                    <!-- <label class="control-label" >Min Price</label> -->
                                    <div class="controls">
                                        <%= f.search_field :price_gteq,:style=>"width:80px;min-height:0",class: "input-block-level" %>
                                        <!-- <select name="" class="input-block-level" required="">
                                            <option value="">All</option>
                                            <option value="1">1000</option>
                                            <option value="9">2000</option>
                                            <option value="9">3000</option>
                                            <option value="9">4000</option>
                                            <option value="9">5000+</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="control-group half text-right pull-right">
                                    <%= f.label :price_gteq, "Max Price", class: "control-label" %>
                                    <!-- <label class="control-label">Max Price</label> -->
                                    <div class="controls">
                                        <%= f.search_field :price_lteq,:style=>"width:80px;min-height:0;padding-left:0;padding-right:0",class: "input-block-level" %>
                                        <!-- <select name=""   class="input-block-level" required="">
                                            <option value="">All</option>
                                            <option value="1">10000</option>
                                            <option value="9">20000</option>
                                            <option value="9">30000</option>
                                            <option value="9">40000</option>
                                            <option value="9">50000+</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- <div class="control-group-form">
                                <div class="control-group half pull-left">
                                    <label class="checkbox">
                                        <input type="checkbox" > Rent Property
                                    </label>
                                </div>
                                <div class="control-group half text-right pull-right">
                                    <label class="checkbox">
                                        <input type="checkbox"> Sell Property
                                    </label>
                                </div>
                                <div class="clearfix"></div>
                            </div> -->
                            <%= f.label :beds_eq, "Number of Bedrooms" %>
                            <!-- <label>Bath</label> -->
                            <%=f.select :beds_eq, ["1","2","3","4","5+"],{}, class: "input-block-level" %>
                            <!-- <select name=""  class="input-block-level " required="">
                                <option value="">All</option>
                                <option value="1">1</option>
                                <option value="9">2</option>
                                <option value="9">3</option>
                                <option value="9">4</option>
                                <option value="9">5+</option>
                            </select> -->
                            <br/><br/>
                            <%= f.label :location %>
                            <%= f.search_field :postcode_cont,class: "input-block-level",style: "min-height: 0;padding-left:0;padding-right:0" %>
                            <!-- <label>Beds</label>
                            <select name=""  class="input-block-level " required="">
                                <option value="">All</option>
                                <option value="1">1</option>
                                <option value="9">2</option>
                                <option value="9">3</option>
                                <option value="9">4</option>
                                <option value="9">5+</option>
                            </select> -->

                            <!-- <button type="submit" class="input-block-level btn-proper btn btn-large"> Search</button> -->
                            <%= f.submit "Search", :class=>"input-block-level btn-proper btn btn-large" %>
                            <%end%>
                        </form>
                        <!--End Form Search Properties-->

                        <!--Start List Our Agent-->
                        <h3 class="bottom-line  line-before main-heading"><span class="main-circle-icon"><i class="icon-list"></i></span>  Our Agents</h3>
                        <div class="list-items ">
                            <% @agents.each do |obj| %>
                                <div class="item">
                                    <div class="img-preview">
                                        <!-- <img src="/assets/agents/thum_list/a2.jpg" alt="Corin Langpost" /> -->
                                        <%=  image_tag responsive_image(obj.image) %>
                                    </div>
                                    <div class="item-desk">
                                        <div class="title">
                                            <h3><a href="#"><%=obj.name%></a></h3>
                                        </div>
                                        <div class="location"><%=obj.address%></div>
                                        <a href="/agents" class="btn-proper btn-mini btn">Profile Page</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            <% end %>
                        </div>
                        <!--End List Our AGents -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<%#= render 'layouts/mobile_footer' %>
