<div id="content">
    <div id="main-title-content">
        <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
        <div class="container">
            <div class="panel">
                <h1>Pricing</h1>
                <p>Tenant Price Plan</p>    
            </div>
        </div>
    </div>
    <div class="news-carousel-wrapper">
        <dl id="news-carousel" class="news-carousel-style">
          <%= render 'properties/news_carousel'%>
        </dl>
    </div>
    <div class="container">
        <div class="panel">
            <div class="box-line"> 
                <h2 class="title-heading">Choose Your Plan</h2>
            </div>
            <%= render 'shared/tenant_plans'%>
            <div class="well well-mini text-center">
                <h4 class="inline-el pad-right"><span class="pink-block">All Plans Include :</span></h4>
                <p class="inline-el pad-left muted">30 day money back guarantee if you are not satisfied with our services</p>
            </div>
            <div class="box-line"> 
                <h3 class="title-heading">Recommended</h3>
            </div>
            <div class="row-fluid">
                <% Testimonial.where(:user_type => "Tenant").all.each do |t| %>
                    <div class="span4">
                        <div class="box-block">
                            <div class="dialog-box-style">
                                <p><%=t.testimonial%></p>
                            </div>
                            <div class="arrow-bottom"></div>
                            <div class="full-block">
                                <div class="desc-img-screen" style="float:left">
                                    <p><%=t.name%></p>
                                    <p><%=t.user_type%></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>

