<div id="content">
  <div id="main-title-content" class="no-padding">
    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
    <div class="container">
      <div class="panel">
        <h1>Properties</h1>
        <p>Sub Title Here</p>
      </div>
    </div>
  </div>
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container" style="width:1030px">
    <div class="row-fluid">
      <div class="span9">
        <div class="panel right-line">
          <div class="row-fluid">
            <div class="span6">
              <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span> List Properties</h2>   
            </div>
            <div class="span6 ">
              <div class="main-heading bottom-line line-before filterarea">
                <form class="filterform">
                  <p></p>
                    <select class="sort">
                        <option class="asc active" id="asc">Asc</option>
                        <option class="desc" id="desc">Desc</option>
                    </select>
                    <select class="condition">
                        <option class="price active" id="price">Price</option>
                        <option class="name" id="name">Name</option>
                    </select>
                </form>
              </div>
            </div>
          </div>
          <div class="filter_data">
          <% if @data.empty? %>
            <div class="item" >
              <a href="#" class="with-hover">
                <img alt='images' src="assets/default_images/no.jpg" class="full"/><span class="mask_hover"></span>
              </a>
            </div>
          <% else %>
            <% @data.each do |task| %>
              <% if task.visibility== true %>
                <div class="list-properties right-space">
                  <div class="property ">
                    <div class="row-fluid">
                      <div class="span6">
                        <div class="property-images">
                          <a href="#">
                            <div class="mask">
                              <div class="desc-type for-sale"><%= task.category %></div>
                              <div class="price">&pound; <%= task.price %></div>
                            </div>
                            <%= image_tag responsive_image(task.image1), :style=>"height:250px;width:500px;" %>
                          </a>
                        </div>
                      </div>
                      <div class="span6">
                        <div class="property-details">
                          <h3><a href="#"><%=task.name%></a></h3>
                          <p><%= task.short_description %></p>
                          <p>
                            <span class="label"><i class="icon-circle-arrow-right"></i> Beds : <%= task.beds %></span>
                            <span class="label"><i class="icon-circle-arrow-right"></i> Bath : <%= task.bath %></span>
                            <span class="label"><i class="icon-circle-arrow-right"></i> Garden : <%= task.garden %></span>
                            <% unless task.parking_status == "none" %>
                              <span class="label" style="margin-top:5px"><i class="icon-circle-arrow-right"></i> Parking : <%= task.parking_status %></span>
                            <%end%>
                            <% if task.gas_ch == "Yes" %>
                              <span class="label" style="margin-top:5px"><i class="icon-circle-arrow-right"></i> Gas CH : <%= task.gas_ch %></span>
                            <%end%>
                            <% if task.dg == "Yes" %>
                              <span class="label" style="margin-top:5px"><i class="icon-circle-arrow-right"></i> DG : <%= task.dg %></span>
                            <%end%>  
                          </p>
                          <div class="agent-preview">
                            <div class="agent-image pull-left"  ><a href="#"><%= image_tag responsive_image(task.agent.image), :style=>"height:80px;width:200px;" %></a></div>
                            <div class="agent-contant pull-right">
                              <ul class="unstyled">
                                <li><i class="icon-phone"></i><%=task.agent.phone%></li>
                                <li><i class="icon-envelope"></i><%=task.agent.email_id%></li>
                                <li><i class="icon-facebook"></i><%=task.agent.fb_id%></li>
                                <li><i class="icon-twitter"></i><%=task.agent.twitter_id%></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        </div>
      </div>
      <div class="span3">
        <div class="panel">
          <%= render 'shared/property_search'%>
          <h3 class="bottom-line  line-before main-heading">
            <span class="main-circle-icon"><i class="icon-list"></i></span>  Our Agents
          </h3>
          <div class="list-items ">
            <% @agents.each do |agent| %>
              <div class="item">
                <%=  image_tag responsive_image(agent.image), alt: "Corin Langpost", class: "img-preview" %>
                  <div class="item-desk">
                    <div class="title">
                      <h3><a href="#"><%=agent.name%></a></h3>
                    </div>
                    <div class="location"><%=agent.address%></div>
                    <a href="#" class="btn-proper btn-mini btn">Profile Page</a>
                  </div>
                <div class="clearfix"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".condition, .sort").click(function(){
      target = document.getElementById('loading')
      spinner = new Spinner({radius: 80,width:25,length:60}).spin(target)
      var src = $( "."+$(this).attr("class")+" option:selected" )
      if(src.attr("id") == "asc" || src.attr("id") == "desc"){
        condition = $(".condition .active").attr("id")
        sort = src.attr("id")
      }else{
        sort = $(".sort .active").attr("id")
        condition = src.attr("id")
      }
      src.parent().find("option").removeClass("active")
      src.addClass("active");
      $.ajax({
        type: "get",
        url: "/properties_filter",
        data: "condition="+condition+"&sort="+sort,
        success: function(res){
          $(".filter_data").html($(res).find(".filter_data").html())
          target.removeChild(spinner.el)
        },
        error: function(){
          target.removeChild(spinner.el)
        }
      })
    })
  })  
</script>