<div id="content">
  <div id="main-title-content" class="no-padding">
    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
    <div class="container">
      <div class="panel">
        <h1>Properties</h1>
        <p>Currently Available</p>
      </div>
    </div>
  </div>
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container" style="width:1030px">
    <div class="row-fluid">
      <div class="span9">
        <div class="panel right-line" style="margin-right:7px">
          <div class="row-fluid">
            <div class="span6">
              <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span> Properties List</h2>   
            </div>
            <div class="span6 ">
              <div class="main-heading bottom-line line-before filterarea">
                <form class="filterform">
                  <p></p>
                    <select class="type">
                        <%type = params[:type].blank? ? 'all' : params[:type]%>
                        <option class="all active" id="all" <% if type=='all'%> selected<%end%>>All</option>
                        <option class="to_let" id="to_let" <% if type=='to_let'%> selected<%end%>>To Let</option>
                        <option class="for_sale" id="for_sale" <% if type=='for_sale'%> selected<%end%>>For Sale</option>
                    </select>
                    <select class="sort">
                        <%sort = params[:sort].blank? ? 'asc' : params[:sort]%>
                        <option class='asc' id="asc" <% if sort=='asc'%> selected<%end%>>Asc</option>
                        <option class="desc active" id="desc" <% if sort=='desc'%> selected<%end%> >Desc</option>
                    </select>
                    <select class="condition">
                        <%condition = params[:condition].blank? ? 'price' : params[:condition]%>
                        <option class="price active" id="price" <% if condition=='price'%> selected<%end%>>Price</option>
                        <option class="name" id="name" <% if condition=='name'%> selected<%end%>>Name</option>
                    </select>
                </form>
              </div>
            </div>
          </div>
          <div class="filter_data">
          <% if @data.empty? %>
            <div class="item" >
              <a href="#" class="with-hover">
                <img alt='images' src="assets/default_images/no.jpg" class="full"/><span class="mask_hover"></span>
              </a>
            </div>
          <% else %>
            <% @data.each do |task| %>
              <div class="list-properties right-space">
                <div class="property ">
                  <div class="row-fluid">
                    <div class="span6">
                      <div class="property-images">
                        <a href=<%= "/properties_detail/"+task.slug%> style="font-family: verdana, arial, helvetica, sans-serif">
                          <div class="mask">
                            <div class="desc-type for-sale"><%=property_status(task.category, task.status) %></div>
                            <div class="price">&pound; <%= task.price.to_i.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></div>
                          </div>
                          <%= image_tag "sealmark.png", style: "width:50px;height:50px;z-index: 1;overflow: none;position: absolute;top: -21px;right: -7px;box-shadow: none" if task.seal_approved == true%>
                          <%= image_tag responsive_image(task.image1), :style=>"height:265px;width:500px;" %>
                        </a>
                      </div>
                    </div>
                    <div class="span6">
                      <div class="property-details">
                        <h3><a href=<%= "/properties_detail/"+task.slug%> ><%=task.name%></a></h3>
                        <p>
                          <% if !task.short_description.blank? && task.short_description.length > 190 %>
                            <%= truncate(task.short_description, length: 190) %>
                            <%= link_to '...Read more', '', class: "read-more-#{task.id}" %>
                            <script>
                              $('.read-more-<%= task.id %>').on('click', function(e) {
                                e.preventDefault()
                                $(this).parent().html('<%= escape_javascript task.short_description %>')
                              })
                            </script>
                          <% else %>
                            <%= task.short_description %>
                          <% end %>
                        </p>
                        <p>
                          <span class="label"><i class="icon-circle-arrow-right"></i> REF : <%= "SP"+task.created_at.year.to_s.split(//).last(2).join()+task.created_at.month.to_s.rjust(2,'0')+task.id.to_s.rjust(4,'0') %></span>
                          <span class="label"><i class="icon-circle-arrow-right"></i> Beds : <%= task.beds %></span>
                          <span class="label"><i class="icon-circle-arrow-right"></i> Bath : <%= task.bath %></span>
                          <span class="label"><i class="icon-circle-arrow-right"></i> Garden : <%= task.garden %></span>
                          <% unless task.parking_status == "none" %>
                            <span class="label" style="margin-top:5px"><i class="icon-circle-arrow-right"></i> Parking : <%= task.parking_status %></span>
                          <%end%>
                          <% if task.gas_ch == "Yes" %>
                            <span class="label" style="margin-top:5px"><i class="icon-circle-arrow-right"></i> Gas CH : <%= task.gas_ch %></span>
                          <%end%>
                          <% if task.dg == "Yes" %>
                            <span class="label" style="margin-top:5px"><i class="icon-circle-arrow-right"></i> DG : <%= task.dg %></span>
                          <%end%>  
                        </p>
                        <div class="agent-preview">
                          <div class="agent-image pull-left">
                            <a href=<%= (task.agent.nil? || task.agent.name == "Landlord") ? "/users/#{task.user.id}" : '/agents' %> >
                              <%= image_tag (task.agent.nil? || task.agent.name == "Landlord") ? (task.user.avatar.nil? ? "noimage.gif" : task.user.avatar.url(:large)) : responsive_image(task.agent.image), :style=>"height:80px;width:200px;" %>
                            </a>
                          </div>
                          <div class="agent-contant pull-right">
                            <ul class="unstyled">
                              <%if (task.agent.nil? || task.agent.name == "Landlord") %>
                                <li style="font-size:15px"><%= "#{task.user.first_name} #{task.user.last_name[0] unless task.user.last_name.blank?}" %></li>
                                <li style="font-size:15px">Private Landlord</li>
                                <li>
                                  <%= button_to "/messages/new",:class=>"btn btn-proper",method: :get, :style=>"margin-right:20px" do %>
                                    <%=hidden_field_tag :user,task.user.id %> Contact
                                  <%end%>
                                </li>
                              <%else%>
                                <li>SEAL Properties</li>
                                <li>Agent - <%=task.agent.name%></li>
                                <li><i class="icon-phone"></i><%=task.agent.phone%></li>
                                <li><i class="icon-envelope"></i><%=task.agent.email_id%></li>
                                <li><%= button_to "/messages/contact_agent",:class=>"btn btn-proper",method: :get, :style=>"margin-right:20px" do %>
                                    <%=hidden_field_tag :agent_id,task.agent.id %> Contact
                                  <%end%>
                                </li>
                              <%end%>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="pagination pagination-large" style="padding:20px">
                <%= paginate @data %>
            </div>
            
          <% end %>
        </div>
        </div>
      </div>
      <div class="span3">
        <div class="panel">
          <%= render 'shared/property_search'%>
          <h3 class="bottom-line  line-before main-heading">
            <span class="main-circle-icon"><i class="icon-list"></i></span>  Our Agents
          </h3>
          <div class="list-items bottom-line line-before main-heading" style="padding-bottom:20px">
            <% @agents.each do |agent| %>
              <div class="item">
                <%=  image_tag responsive_image(agent.image), alt: "Corin Langpost", class: "img-preview" %>
                  <div class="item-desk">
                    <div class="title">
                      <h3><a href="#"><%=agent.name%></a></h3>
                    </div>
                    <div class="location" style="font-size:38%"><%=agent.address%></div>
                    <a href="/agents" class="btn-proper btn-mini btn" style="color:white">Profile Page</a>
                  </div>
                <div class="clearfix"></div>
              </div>
            <% end %>
          </div>
          <h3 class="bottom-line line-before main-heading" style="padding-top:0">
            <span><%= image_tag "sealmark.png", style: "width:55px;height:60px" %></span><a href="/seal_approved" id="seal_approve">  SEAL Approved</a>
          </h3>
          <div class="list-items">
            <p>
            Properties which are marked with the Seal of Approval are marketed by SEAL Properties on behalf of the Landlord or Vendor who have commissioned our traditional estate agency services under our Pro or Pro Plus+ plans.</p>
            <p> 
            Properties not displaying the seal are marketed by the Landlord or Vendor themselves under our Basic and Basic Plus+ plans which allow Landlords and Vendors the opportunity to self-promote their properties using our marketing infrastructure.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".condition, .sort, .type").click(function(){
      target = document.getElementById('loading')
      spinner = new Spinner({radius: 80,width:25,length:60}).spin(target)
      var src = $( "."+$(this).attr("class")+" option:selected" )
      // if(src.attr("id") == "asc" || src.attr("id") == "desc"){
      //   condition = $(".condition .active").attr("id")
      //   sort = src.attr("id")
      // }else{
      //   sort = $(".sort .active").attr("id")
      //   condition = src.attr("id")
      // }
      condition = $(".condition").find("option:selected")[0].id
      sort = $(".sort").find("option:selected")[0].id
      type = $(".type").find("option:selected")[0].id
      src.parent().find("option").removeClass("active")
      src.addClass("active");
      $.ajax({
        type: "get",
        url: "/properties_filter",
        data: "condition="+condition+"&sort="+sort+"&type="+type,
        success: function(res){
          $(".filter_data").html($(res).find(".filter_data").html())
          target.removeChild(spinner.el)
        },
        error: function(){
          target.removeChild(spinner.el)
        }
      })
    })
  })  
</script>

<style>
.pagination span {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination span {
  display: inline;
}

.pagination span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination-large span {
  padding: 11px 19px;
  font-size: 17.5px;
}
.pagination span.current {
  background-color: #f5f5f5;
  cursor: default;
}
.next{
  position: inherit;
}
.next:hover{color: white;text-decoration: none;border: none;background: white;}

.filterform select{
  width: 24%
}
</style>