<div id="content">
  <div id="main-title-content">
    <img src="/assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
    <div class="container">
      <div class="panel">
        <h1>Properties</h1>
        <p>Sub Title Here</p>
      </div>
    </div>
  </div>
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <div class="panel right-line">
          <div class="row-fluid">
            <div class="span6">
              <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span> List Properties</h2>   
            </div>
            <div class="span6 ">
              <div class="main-heading bottom-line line-before filterarea">
                <form class="filterform">
                  <p></p>
                </form>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="googleMaparea right-space">
            <div id="googleMap" class=""></div>
          </div>

          <% if @prop.empty? %>
            <div class="item" >
              <a href="#" class="with-hover">
                <img alt='images' src="assets/default_images/no.jpg" class="full"/><span class="mask_hover"></span>
              </a>
            </div>
          <% else %>
              <% @prop.each do |task| %>
                <% if task.visibility== true %>
                  <div class="list-properties right-space">
                    <div class="property ">
                      <div class="row-fluid">
                        <div class="span6">
                          <div class="property-images">
                            <a href="#">
                              <div class="mask">
                                <div class="desc-type for-sale"><%= task.category %></div>
                                <div class="price">&euro; <%= task.price %></div>
                              </div>
                              <%= image_tag responsive_image(task.image1), :style=>"height:250px;width:500px;" %>
                            </a>
                          </div>
                        </div>
                        <div class="span6">
                          <div class="property-details">
                            <h3><a href="#"><%=task.name%></a></h3>
                            <p><%= raw(task.description) %></p>
                            <p>
                              <span class="label"><i class="icon-circle-arrow-right"></i> Bath : <%=task.bath%></span>
                              <span class="label"><i class="icon-circle-arrow-right"></i> Beds : <%=task.beds%></span>
                            </p>
                            <div class="agent-preview">
                              <% ag = Agent.find_by_id(task.agent_id)%>
                              <div class="agent-image pull-left"  ><a href="#"><%= image_tag responsive_image(ag.image), :style=>"height:80px;width:200px;" %></a></div>
                              <div class="agent-contant pull-right">
                                <ul class="unstyled">
                                  <li><i class="icon-phone"></i><%=ag.phone%></li>
                                  <li><i class="icon-envelope"></i><%=ag.email_id%></li>
                                  <li><i class="icon-facebook"></i><%=ag.fb_id%></li>
                                  <li><i class="icon-twitter"></i><%=ag.twitter_id%></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="span3">
        <div class="panel">
          <%= render 'shared/property_search'%>
          <h3 class="bottom-line  line-before main-heading"><span class="main-circle-icon"><i class="icon-list"></i></span>  Our Agents</h3>
          <div class="list-items ">
            <% @agents.each do |agent| %>
              <div class="item">
                <%=  image_tag responsive_image(agent.image), alt: "Corin Langpost", class: "img-preview", :style=>"height:70px;width:100px;" %>
                  <div class="item-desk">
                    <div class="title">
                      <h3><a href="#"><%=agent.name%></a></h3>
                    </div>
                    <div class="location"><%=agent.address%></div>
                    <a href="#" class="btn-proper btn-mini btn">Profile Page</a>
                  </div>
                  <div class="clearfix"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  init_gmap3()
});

  function init_gmap3(){
    $(function(){
        var icon_villa = "assets/map/hostel_0star.png";
        var icon_hotel = "assets/map/villa.png";
        var img_p = "assets/properties/p1.jpg";
        $("#googleMap").gmap3({
            map:{
                // CENTRAL MAP DEFAULT
                address:"167/169 saltwell road, gateshead, NE8 4TJ",
                options:{
                    zoom:16,
                    scaleControl: false,
                    scrollwheel: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    }
                }
            },
            marker:{
                // DATA LOCATION
                values:[
                {
                    latLng:[54.9484992,-1.6144501],
                    data:{
                        img_preview: img_p,
                        properties_name:"We are here - SEAL Properties 0191 5805900",
                        properties_desc:"Opening times Mon-fri Sat",
                        properties_link:"#",
                        zip:"009800",
                        city:"167/169 Saltwell Road, Gateshead, NE8 4TJ",
                        id: '0'
                    },
                    options:{
                        icon: icon_hotel //Image or icon of shop want to display on map
                    }
                },
                <% @prop.each do |obj| %>
                <%# address =  "#{obj.address1} #{obj.address2} #{obj.address3}"%>
                <%#sleep 0.3%>

                <% a=obj.coordinates%>
                <%lat = (a.nil? ? "" : a.split(",")[0].to_f) %>
                <%lng = (a.nil? ? "" : a.split(",")[1].to_f) %>
                {
                    latLng:[<%= lat%>,<%= lng%>],
                    data:{
                        img_preview: img_p,
                        properties_name:'<%= obj.name%>',
                        properties_desc:'<%=obj.description%>',
                        properties_link:"#",
                        zip:'<%=obj.postcode%>',
                        city:'<%=obj.address3%>',
                        id: '<%=obj.id%>'
                    },
                    options:{
                        icon: icon_villa
                    }
                },
                <% end %>
                ],
                events:{
                    mouseover: function(marker, event, context){
                        $(this).gmap3(
                        {
                            clear:"overlay"
                        },

                        {
                            overlay:{
                                latLng: marker.getPosition(),
                                options:{
                                    content:  "<div class='info-location'>" +
                                    "<div class='text'><h4><a href='/properties_detail/"+context.data.slug+"'>"
                                    + context.data.properties_name +
                                    "</a></h4>"+
                                    "<a href='/properties_detail/"+context.data.slug+"'><img src='"+ context.data.img_preview +"' width=90></a> £300.999 <br/>"+
                                    context.data.properties_desc +
                                    "<br/><a href='"+context.data.properties_link +"'class='btn btn-proper btn-small'>See Detail</a></div>" +
                                    "</div>" +
                                    "<div class='arrow-location'></div>",
                                    offset: {
                                        x:-46,
                                        y:-73
                                    }
                                }
                            }
                        });
                    }

                }
            }

        });
    });
  }

</script>