<li class="list-group-item clearfix">
    <% if (current_user.plan == "basic_plus") || (User.find(conversation.last_message.sender_id).plan == "basic_plus")%>
    <%= link_to conversation.subject, conversation_path(conversation) %>

    <div class="btn-group-vertical pull-right">
        <% if conversation.is_trashed?(current_user) %>
            <%= link_to 'Restore', restore_conversation_path(conversation), class: 'btn btn-xs btn-info', :style => "color:white;border-radius:4px 4px 4px 4px;", method: :post %>
        <% else %>
            <%= link_to 'Move to trash', conversation_path(conversation), class: 'btn btn-xs btn-danger', :style => "color:white;border-radius:4px 4px 4px 4px;", method: :delete, data: {confirm: 'Are you sure?'} %>
            <%# if conversation.is_unread?(current_user) %>
                <%#= link_to 'Mark as read', mark_as_read_conversation_path(conversation), class: 'btn btn-xs btn-info', :style => "color:white;border-radius:4px 4px 4px 4px;", method: :post %>
            <%# end %>
            <%= link_to 'Reply', "/messages/new?user=#{conversation.last_message.sender_id}", class: 'btn btn-xs btn-success', :style => "color:white;border-radius:4px 4px 4px 4px;margin-top: 10px", method: :get %>
        <% end %>
    </div>

    <p><%#= render 'conversations/participants', conversation: conversation %></p>

    <p><%= conversation.last_message.body.html_safe %>
    <small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</small></p>
    <%else%>
        <p>You have a message from ?, upgrade now to view this message.</p>
    <%end%>
</li>