<div class="proper-singup">
<h3><%= conversation.subject %></h3>
<ul>
  <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
      <% message = receipt.message %>
      <h3>
        <%= message.subject %>
      </h3>
      <p>
        <%= message.body %>
      </p>
  <% end %>
</ul>
<%= render 'messages/form', conversation: conversation %>
<%= button_to "Cancel", conversations_path, class: 'btn-danger', method: :get, id: "cncl" %>

</div>

