<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container" style="width:1230px">
    <div class="panel">
      <ul class="nav nav-tabs" style="margin:30px; margin-bottom:0;border-bottom:none">
        <li class="active"><a href="#landlord_profile">Profile</a></li>
        <li><a href="#contact_manager">Contact Manager</a></li>
      </ul>
      
      <%= form_for @contact, html: { multipart: true,class: "" },:style=>"" do |f| %>
        <div class="proper-form-step" style="padding-top:0;margin: 0">
          <div class="tab-content" style="background: none !important;border:none !important">
            <%= render :partial => "profile", :locals=>{:f=>f} %>
            <%= render :partial => "contact_manager", :locals=>{:f=>f} %>
          </div>
        </div>

        <div style="padding:10px;margin-top:0px;margin-left:45%">
          <%= f.submit (params[:action]=="edit" ? "Update" : "Create"), class: "btn btn-proper btn-large", :style=>"margin:0" %>
        </div>  
      <%end%>
    </div>
  </div>
</div>

<style type="text/css">
  select{
    width: 65.5% !important;
    float: right;
  }
  
  .input-block-level{
    display: inline-block;
    width: 250px !important;
    float: right;
  }
  label{
    display: inline-block;
    width: auto;
    margin: 5px
  }
  .span5{
    margin-left: 0
  }
</style>
<script type="text/javascript">
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });
</script>