<!--Start Content-->
<div id="content">
    <!--Start Main Title-->
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container" style="width:1230px">
    <div class="panel">
      <div class="box-line">
        <h3 class="title-heading">Please complete the form</h3>
      </div>
      <%= form_for @contact, html: { multipart: true,class: "proper-form-step" },:style=>"" do |f| %>
        <div class="proper-form-step-area">
          <div style="float:left;width:55%">
            <h4>Miscellaneous Contact</h4>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :name %>
                <%= f.text_field :name, class: "input-block-level", required: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :company %>
                <%= f.text_field :company, class: "input-block-level", required: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :category %>
                <%= f.text_field :category, class: "input-block-level", required: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :phone %>
                <%= f.text_field :phone, class: "input-block-level", required: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :email %>
                <%= f.text_field :email, class: "input-block-level", required: "true" %>
              </div>
            </div>
          </div>
        <%= f.submit 'Save', class: "btn btn-proper btn-large add_loader", style: "margin-left:50%" %>
      <%end%><!-- End Form Step -->
    </div>
  </div>
</div><!--EndContent-->

<style type="text/css">
  select{
    width: 100% !important;
  }
  .span4 input{
    width: 320px !important;
  }
</style>