<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="cont" style="max-width:1200px">
    <h3><b>Miscellaneous Contacts</b></h3>

    <%= button_to "New Contact", new_miscellaneous_contact_path, :method=>:get, :class=>"btn btn-warning new_property", 
      :style=>"margin-left:1000px;margin-top:-90px;"%>

    <table id="prop_info">
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Category</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @contact.each_with_index do |obj,i| %>
          <tr>
            <td><%= obj.name %></td>
            <td><%= obj.company %></td>
            <td><%= obj.category %></td>
            <td><%= obj.phone %></td>
            <td><%= obj.email %></td>
            <td><%= link_to "Edit", edit_miscellaneous_contact_path(id: obj.id) %>
            <%= link_to 'Delete', miscellaneous_contact_path(id: obj.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#prop_info").dataTable()
  })  
</script>

<style type="text/css">
  .dataTables_paginate .next{
    position: relative;
    bottom: 0;
    color: white !important;
  }
  select{
    width: 70px;
    float: none;
  }
  tr{
    background-color: #eee !important;
  }
  .bg_color{
    background-color: papayawhip !important
  }
</style>