<!--Start Content-->
<div id="content">
    <!--Start Main Title-->
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container" style="width:1230px">
    <div class="panel">
      <div class="box-line">
        <h3 class="title-heading">Please complete the form</h3>
      </div>
      <%= form_for @user, html: { multipart: true,class: "proper-form-step" },:style=>"" do |f| %>
        <div class="proper-form-step-area">
          <div style="float:left;width:55%">
            <h4>Personal Information</h4>
            <h5><b>Tell us about yourself.</b></h5>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :title %>
                <%= f.text_field :title, class: "input-block-level", required: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :first_name, "First Name" %>
                <%= f.text_field :first_name, class: "input-block-level", required: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :last_name, "Last Name" %>
                <%= f.text_field :last_name, class: "input-block-level", required: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label "Address 1" %>
                <%= f.text_field :address1, class: "input-block-level", required: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label "Address 2" %>
                <%= f.text_field :address2, class: "input-block-level" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :address3 %>
                <%= f.text_field :address3, class: "input-block-level" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :postcode %>
                <%= f.text_field :postcode, class: "input-block-level", required: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label "Phone" %>
                <%= f.text_field :phone, class: "input-block-level", required: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :mobile, "Alternative Phone" %>
                <%= f.text_field :mobile, class: "input-block-level" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <%= f.label :email %>
                <%= f.text_field :email, class: "input-block-level", required: "true", disabled: "true" %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4" style="width:320px">
                <%= f.label :dob, "Date of Birth" %>
                <%= f.date_select :dob, class: "input-block-level", required: "true", start_year: 1930,end_year: 2015, :order => [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' } %>
              </div>
            </div>
          </div>
          <div class="" style="float:right;width:45%">
            <h4>Photo Upload</h4>
            <div class="row-fluid">
              <%if params[:action]=="edit" && !current_user.avatar.file.nil?  %>
                  <%= f.file_field :avatar %>
                  <%= current_user.avatar.file.filename %>
              <%else%>
                  <%= f.file_field :avatar, style: "margin-top:-125px" %>
                  <%= image_tag current_user.avatar.url(:thumb), style: "width:200px;height:200px" %>
              <%end%>
            </div>
            <br/>
            <h4>Supporting Documents</h4>
            <h5><b>Upload supporting documents such as landlord references, rental statements, character references etc</b></h5>
            <div class="row-fluid">
              <div class="span4">
                <%= f.file_field :supporting_doc %>
              </div>
            </div>
            <br/>
            <h4>Additional Information</h4>
            <h5><b>Please add anything  you feel may be relevant here such as more about yourself</b></h5>
            <div class="row-fluid">
              <div class="span4">
                <%#= f.label :additional_info %>
                <%= f.text_area :additional_info, class: "input-block-level", style: "height:200px;width:450px !important" %>
              </div>
            </div>
          </div>
<%
=begin%>          
          <h4>Rental Information</h4>
          <div class="row-fluid">
            <div class="span2">
              <%= f.label :price %>
              <%= f.number_field :price, class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label :deposit %>
              <%= f.text_field :deposit, class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label "Tenancy Length (months)" %>
              <%= f.number_field :tenancy, class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label :student %>
              <%= f.select :student,['No','Yes'], class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label "Benefits Claimant" %>
              <%= f.select :benefit,['No','Yes'], class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label "Pets allowed" %>
              <%= f.select :pets,['No','Yes'], class: "input-block-level", required: "true" %>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <%= f.label "Smokers allowed" %>
              <%= f.select :smoker,['No','Yes'], class: "input-block-level", required: "true" %>
            </div>
          </div>
          <h4>Property Details</h4>
          <div class="row-fluid">
            <div class="span2">
              <%= f.label :property_type %>
              <%= f.select :property_type,["Lower Flat", "Upper Flat", "Maisonette", "Terrace House", "Semi-Detached", "Detached", "Studio", "Apartment", "Commercial", "Land"], class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label "Number of Bedrooms" %>
              <%= f.number_field :beds, class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label "Number of Bathrooms" %>
              <%= f.number_field :bath, class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label :garden %>
              <%= f.select :garden,['No','Yes'], class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label :parking %>
              <%= f.select :parking,['No','Yes'], class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label :gas_ch %>
              <%= f.select :gas_ch,['No','Yes'], class: "input-block-level", required: "true" %>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <%= f.label :dg %>
              <%= f.select :dg,['No','Yes'], class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label "En-suite" %>
              <%= f.select :ensuite,['No','Yes'], class: "input-block-level", required: "true" %>
            </div>
            <div class="span2">
              <%= f.label "Furnished" %>
              <%= f.select :furnished,['No','Yes'], class: "input-block-level", required: "true" %>
            </div>
          </div>
<%
=end%>
        </div>
        <%= f.submit 'Save', class: "btn btn-proper btn-large", style: "margin-left:50%" %>
      <%end%><!-- End Form Step -->
    </div>
  </div>
</div><!--EndContent-->

<style type="text/css">
  select{
    width: 100% !important;
  }
  #user_dob_1i{
    width: 36% !important;
  }
  #user_dob_2i{
    width: 35% !important;
  }
  #user_dob_3i{
    width: 29% !important;
  }
  .span4 input{
    width: 320px !important;
  }
</style>
<script type="text/javascript">
  $(".btn-proper").click(function(e){
    var d = parseInt($("#user_dob_3i option:selected" ).text())
    var m = parseInt($("#user_dob_2i option:selected" ).val())
    var y = parseInt($("#user_dob_1i option:selected" ).text())
    if(isNaN(d) || isNaN(m) || isNaN(y)){
      e.preventDefault();
      alert("Please Enter your Date of Birth")
    }else if (new Date(y,m-1,d).getTime() > new Date().getTime() ){
      e.preventDefault();
      alert("cannot be future date")
    }
  })
</script>