<div id="content">
  <div id="main-title-content" class="no-padding">
    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
    <div class="container">
      <div class="panel">
        <h1>Properties</h1>
        <p>Currently Available</p>
      </div>
    </div>
  </div>
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%#= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container" style="width:1030px">
    <div class="row-fluid">
      <div class="span9">
        <div class="panel right-line">
          <div class="row-fluid">
            <div class="span6">
              <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span> Properties List</h2>   
            </div>
            <div class="span6 ">
              <div class="main-heading bottom-line line-before filterarea">
                <form class="filterform">
                  <p></p>
                    <!-- <select class="sort">
                        <option class="asc active" id="asc">Asc</option>
                        <option class="desc" id="desc">Desc</option>
                    </select>
                    <select class="condition">
                        <option class="price active" id="price">Price</option>
                        <option class="name" id="name">Name</option>
                    </select> -->
                </form>
              </div>
            </div>
          </div>
          <div class="filter_data">
            <%if @data.nil? || @data.empty?%>
              <%if current_user.status == "tenant" && @status == false%>
                Please submit your Property Requirements.
              <%else%>  
                No Data To Display.
              <%end%>
            <%else%>
              <% @data.each do |task| %>
                <div class="list-properties right-space">
                  <div class="property ">
                    <div class="row-fluid">
                      <div class="span6">
                        <div class="property-images">
                          <a href="#">
                            <%= image_tag "noimage.gif", :style=>"height:250px;width:500px;" %>
                          </a>
                        </div>
                      </div>
                      <div class="span6">
                        <div class="property-details">
                          <h3><a href="#" ><%="#{task.first_name} #{task.last_name}"%></a></h3>
                          <%if current_user.status=="landlord"%>
                            <p>
                              <% t = task.search.split('|') %>
                              <% if t[4] != "Not Specified" && !t[4].nil? && !t[4].empty? %>
                                <span class="label"><i class="icon-circle-arrow-right"></i> Beds : <%= t[4] %></span>
                              <%end%>
                              <% if t[1] != "Not Specified" && !t[1].nil? && !t[1].empty? %>
                                <span class="label"><i class="icon-circle-arrow-right"></i> Type : <%= t[1] %></span>
                              <%end%>
                              <% if t[0] != "Not Specified" && !t[0].nil? && !t[0].empty? %>
                                <span class="label"><i class="icon-circle-arrow-right"></i> Category : <%= t[0] %></span>
                              <%end%>
                              <% if t[2] != "Not Specified" && !t[2].nil? && !t[2].empty? %>
                                <span class="label"><i class="icon-circle-arrow-right"></i> Min Price : <%= t[2] %></span>
                              <%end%>
                              <% if t[3] != "Not Specified" && !t[3].nil? && !t[3].empty? %>
                                <span class="label"><i class="icon-circle-arrow-right"></i> Max Price : <%= t[3] %></span>
                              <%end%>
                              <% if t[5] != "Not Specified" && !t[5].nil? && !t[5].empty? %>
                                <span class="label"><i class="icon-circle-arrow-right"></i> Location : <%= t[5] %></span>
                              <%end%>
                            </p>
                          <%end%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <%end%>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="panel">
          <%= render 'shared/property_search'%>
          <h3 class="bottom-line  line-before main-heading">
            <span class="main-circle-icon"><i class="icon-list"></i></span>  Our Agents
          </h3>
          <div class="list-items ">
            <% @agents.each do |agent| %>
              <div class="item">
                <%=  image_tag responsive_image(agent.image), alt: "Corin Langpost", class: "img-preview" %>
                  <div class="item-desk">
                    <div class="title">
                      <h3><a href="#"><%=agent.name%></a></h3>
                    </div>
                    <div class="location"><%=agent.address%></div>
                    <a href="#" class="btn-proper btn-mini btn">Profile Page</a>
                  </div>
                <div class="clearfix"></div>
              </div>
            <% end %>
          </div>
        </div>
        <h3 class="bottom-line line-before main-heading top-line">
          <span><%= image_tag "sealmark.png", style: "width:55px;height:60px" %></span><a href="/seal_approved" id="seal_approve">  SEAL Approved</a>
        </h3>
        <div class="list-items">
          <p>
          Properties which are marked with the Seal of Approval are marketed by SEAL Properties on behalf of the Landlord or Vendor who have commissioned our traditional estate agency services under our Pro or Pro Plus+ plans.</p>
          <p> 
          Properties not displaying the seal are marketed by the Landlord or Vendor themselves under our Basic and Basic Plus+ plans which allow Landlords and Vendors the opportunity to self-promote their properties using our marketing infrastructure.</p>
        </div>
      </div>
    </div>
  </div>
</div>