<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style" >
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="panel proper-form-bg" style="background-image:none">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <div class="proper-login">
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <h4>Change your password</h4>
        <div class="field">
          <%= f.label :password, "New password" %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="actions">
          <%= f.submit "Change my password" %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    <%end%>
  </div>
</div>  
