            <!--Start Content-->
<div id="content">
    <!--Start Main Title-->
    <div id="main-title-content">
        <img src="/assets/properties/slider/fslider/p1.jpg" height = "200" id="bg" alt="main-title"/>
        <div class="container">
            <div class="panel">
                <h1>Property Details</h1>
                <p>Newest Additions</p>
            </div>
        </div>
    </div>
   <!--End Main Title-->

    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <div class="panel right-line">
                    <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-building"></i></span>Properties<%=@data.id%></h2>
                  <!-- START DETAIL-->
                  <div class="detail-properties right-space">
                    <div class="property ">
                      <div class="row-fluid">
                        <div class="span6">
                          <div class="property-images">
                            <a href="#">
                              <div class="mask">
                                <% if @data.category == "rent" %>
                                    <div class="desc-type for-sale">To Rent</div>
                                <% else %>
                                    <div class="desc-type for-sale">For Sale</div>
                                <% end %>

                                <div class="price">&pound; <%= @data.price.to_i %></div>
                              </div>
                              <% if @data.image1.url.empty? %>
                                   <img alt='images' src="assets/default_images/no.jpg" class="full"/><span class="mask_hover"></span>
                              <% else %>
                                <%= image_tag @data.image1.url, id: "big-image-preview", alt: "big-image-preview" %>
                              <% end %>
                            <!--  <img src="proper_theme/images/properties/p1.jpg" alt="property"/> -->
                            </a>
                            <div class="list_image_detail">
-                              <ul id="list_images_property">
-                               
-                                <li><a href="#" data-title="Interior 02" ><%= image_tag @data.image2.url, alt: "Thum"%></a></li>
-                                <li><a href="#" data-title="Interior 03" ><%= image_tag @data.image3.url, alt: "Thum"%></a></li>
-                                <li><a href="#" data-title="Interior 04" ><%= image_tag @data.image4.url, alt: "Thum"%></a></li>
-                                <li><a href="#" data-title="Interior 05" ><%= image_tag @data.image5.url, alt: "Thum"%></a></li>
-                                <li><a href="#" data-title="Interior 06" ><%= image_tag @data.image6.url, alt: "Thum"%></a></li>
-                              </ul>
-                              <div class="clearfix"></div>
-                              <a id="prev2" class="prev" href="#">&lt;</a>
-                              <a id="next2" class="next" href="#">&gt;</a>
-                            </div>
                          </div>
                        </div>
                        <div class="span6">
                          <div class="property-details">
                            <h3><a href="#"><%="SP"+@data.created_at.year.to_s.split(//).last(2).join()+@data.created_at.month.to_s.rjust(2,'0')+@data.id.to_s.rjust(4,'0')%> <%= @data.name %></a></h3>
                            <p><%= @data.description %></p>
                            <p>
                              <span class="label"><i class="icon-circle-arrow-right"></i> Bath : <%= @data.bath %></span>
                              <span class="label"><i class="icon-circle-arrow-right"></i> Beds : <%= @data.beds %></span>
                              <span class="label"><i class="icon-circle-arrow-right"></i> Parking : <%= @data.parking %></span>

                            </p>
                            <div class="agent-preview">
                              <div class="agent-image pull-left"  ><a href="#"><img src="assets/agents/a1.jpg" class="img-polaroid" alt="property"></a></div>
                              <div class="agent-contant pull-right">
                                <ul class="unstyled">
                                  <li><i class="icon-phone"></i> (+89)98732.984 </li>
                                  <li><i class="icon-envelope"></i> agent@company.com</li>
                                  <li><i class="icon-facebook"></i> angel</li>
                                  <li><i class="icon-twitter"></i> @angel</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

                    <!-- END DETAIL-->
                  </div>
                </div>
              </div>
            <div class="span3">
                <div class="panel">
                    <!-- MAP LOCATION-->
                    <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-map-marker"></i></span>  Location</h3>    
                    <div class="bottom-line line-before">
                        <div id="googleMap" class="" style="height:300px;margin-bottom:25px"></div>
                    </div><!-- END MAP LOCATION -->
                    <!-- Detail Agent -->
                 <!--   <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-user"></i></span> Agent</h3>
                    <div class="agent-panel bottom-line line-before">
                        <a href="#" class="agent-image ">
                            <img src="/assets/agents/circle/a1.jpg" class="img-polaroid" alt="agent">
                        </a>
                        <ul class="unstyled margin20">
                            <li><i class="icon-phone"></i> (+89)98732.984 </li>
                            <li><i class="icon-envelope"></i> agent@company.com</li>
                            <li><i class="icon-facebook"></i> angel</li>
                            <li><i class="icon-twitter"></i> @angel</li>
                        </ul>
                    </div><!-- END Detail Agent -->
                    <!-- FORM CONTACT -->
                <!--    <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-envelope-alt"></i></span> Contact Agent</h3>
                    <form>
                        <label>Name</label>
                        <input type="text" name="name" placeholder="Enter Your Name" required="" class="input-block-level"/>
                        <label>Email</label>
                        <input type="email" name="email" placeholder="Enter Your Email" required="" class="input-block-level"/>
                        <label>Message</label>
                        <textarea name="message" class="input-block-level" rows="5" placeholder="Your Message" required=""></textarea>
                        <div class="clearfix">
                            <input type="submit" value="Send" class="btn btn-proper "/>
                        </div>
                    </form>
                    <!-- END FORM CONTACT -->
                </div>
            </div>
        </div>
       </div>
      </div>
</div><!--EndContent-->            
<script type="text/javascript">
$(document).ready(function() {
  init_gmap3()
})  
  function init_gmap3(){
    $(function(){
        var icon_villa = "/assets/map/hostel_0star.png"
        var icon_hotel = "/assets/map/villa.png"
        var img_p = "assets/properties/p1.jpg"
        $("#googleMap").gmap3({
            <% address =  "#{@data.address1} #{@data.address2} #{@data.address3}"%>
            map:{
                // CENTRAL MAP DEFAULT
                address:'<%= address %>',
                options:{
                    zoom:12,
                    scaleControl: false,
                    scrollwheel: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    }
                }
            },
            marker:{
                // DATA LOCATION
                values:[
                {
                  
                  <% a=Geokit::Geocoders::GoogleGeocoder.geocode "#{address}"%>
                  <%lat = (a.ll.nil? ? "" : a.ll.split(",")[0].to_f) %>
                  <%lng = (a.ll.nil? ? "" : a.ll.split(",")[1].to_f) %>

                    latLng:[<%= lat%>,<%= lng%>], 
                    data:{
                        img_preview: img_p, 
                        properties_name:'<%= @data.name%>',
                        properties_desc:'<%=@data.description%>',
                        properties_link:"#", 
                        zip:'<%=@data.postcode%>', 
                        city:'<%=@data.address3%>'
                    }, 
                    options:{
                        icon: icon_hotel //Image or icon of shop want to display on map
                    }
                }
                ],
                
            }
      
        });
    });
}
</script>
