<style type="text/css">
  input,select {
    margin-top: -32px;
    margin-left: 60px;
  }
  .search-query{
    margin-top: 0px;
    margin-left: 0px;  
  }
</style>

<div id="content">
  <!-- <div id="main-title-content">
    <img src="/assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
    <div class="container">
      <div class="panel">
        <h1>Upload Items</h1>
        <p>Sub Title Here</p>
      </div>
    </div>
  </div> -->
  <!-- <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%#= render 'properties/news_carousel'%>
    </dl>
  </div> -->
  <div class="container" style="margin:0;width:100%">
    <div class="panel" style="padding-bottom:0">
      <% if current_user.status == "landlord"%>
        <div class="box-line">
          <h3 class="title-heading">Please complete the form</h3>
        </div>
        <ul class="unstyled proper-step">
          <li><a href="" class="active"><span>1</span></a></li>
          <li><a href="" ><span>2</span></a></li>
          <li><a href=""><span>3</span></a></li>
        </ul>
      <%end%>
      <div class="clearfix"></div>
      <div class="payment">
        <%= form_for @property, html: { multipart: true },:style=>"padding-bottom:0" do |f| %>
          <% if @property.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>
              <ul>
                <% @property.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="proper-form-step-area" style="height:850px">
            <div class="proper-singup" style="max-width:100%;margin:0;padding:0;height:100%">
              <div style="float:left;margin:10px;width:23%">
                <h3 class=""><b>Property</b></h3>
                <div class="field">
                  <%= f.label :name %>
                  <%= f.text_field :name %>
                </div>
                <div class="field">
                  <%= f.label :address1 %>
                  <%= f.text_field :address1 %>
                </div>
                <div class="field">
                  <%= f.label :address2 %>
                  <%= f.text_field :address2 %>
                </div>
                <div class="field">
                  <%= f.label :address3 %>
                  <%= f.text_field :address3 %>
                </div>
                <div class="field">
                  <%= f.label :postcode %>
                  <%= f.text_field :postcode%>
                </div>
                <div class="field">
                  <%= f.label :type %>
                  <%= f.select :property_type,["Lower Flat", "Upper Flat", "Maisonette", "Terrace House", "Semi-Detached", "Detached", "Studio", "Apartment", "Commercial", "Land"]%>
                </div>

                <h3 style="margin-top:10px"><b>Marketing</b></h3>
                <div class="field">
                  <%= f.label :category %>
                  <%= f.select :category, ["Rent","Sale"] %>
                </div><br/>
                <div class="field">
                  <%= f.label :price %>
                  <%= f.text_field :price %>
                </div>
                <div class="field">
                  <%= f.label :agent_id %>
                  <% arr = Agent.all.map { |ag| [ag.name, ag.id ] } %>
                  <%= f.select :agent_id, (arr), :selected => '0' %>
                </div><br/>
                <div class="field">
                  <%= f.label :seal %>
                  <%= f.select :seal_approved, [['False', false],['True', true]] %>
                </div><br/>
                <div class="field">
                  <%= f.label :visibility %>
                  <%= f.check_box :visibility %>
                </div>
                <div class="field" style="margin-top:-53px;margin-left:100px">
                  <%= f.label :let%>
                  <%= f.check_box :let %>
                </div>
                <div class="field" style="margin-top:-53px;margin-left:65px">
                  <div class="sol">
                    <%= f.label :sold %>
                    <%= f.check_box :sold%>
                  </div>
                </div> 
                <div class="field" style="margin-top:40px">
                  <%= f.label :tag_line %>
                  <%= f.text_field :tag_line,:style=>"width:500px" %>
                </div> 
              </div>
              <div style="float:left;width:20%;margin:10px;height:95%">
                <h3 class=""><b>Images</b></h3>
                <div class="field">
                  <label for="property_image1" style="margin:0">Main
                    <%if params[:action]=="edit" && !@property.image1.file.nil?%>
                    <span style="margin-left:132px"><%= @property.image1.file.filename %></span><%end%>
                  </label>
                  <%if params[:action]=="edit" %>
                    <%= f.file_field :image1,:style=>"width:95px;line-height:0;" %>
                  <%else%>
                    <%= f.file_field :image1,:style=>"line-height:0;" %>
                  <%end%>
                </div>
                <%(2..10).each do |n|%>
                  <div class="field alert_popup">
                    <label for="property_image<%=n%>" style="margin:0">Image <%=n-1%>
                      <%if params[:action]=="edit" && !@property.send("image"+n.to_s).file.nil?%>
                      <span style="margin-left:114px"><%= @property.send("image"+n.to_s).file.filename %></span><%end%>
                    </label>
                    <%if params[:action]=="edit" && !@property.send("image"+n.to_s).file.nil?%>
                      <%= f.file_field ("image"+n.to_s).to_sym,:style=>"width:95px;line-height:0;" %>
                    <%else%>
                      <%= f.file_field ("image"+n.to_s).to_sym,:style=>"line-height:0;" %>
                    <%end%>
                  </div>
                <%end%>
              </div>  
              <div style="float:right;width:48%;margin:10px;">  
                <div class="field" >
                  <%= f.label :short_description %>
                  <%= f.text_area :short_description, style: "width:575px;height:60px",:maxlength => 900 %>
                </div>
                <div class="field" >
                  <%= f.label :description %>
                  <%= f.text_area :description, :class=>"long_desc" %>
                </div><br/>
                <h3 class=""><b>Key Features</b></h3>
                <div style="float:left">
                  <div class="field">
                    <%= f.label :beds %>
                    <%= f.number_field :beds, :min => 0 %>
                  </div>
                  <div class="field">
                    <%= f.label :bath %>
                    <%= f.number_field :bath, :min => 0 %>
                  </div>
                  <div class="field">
                    <%= f.label :parking %>
                    <%= f.select :parking_status, ["None","On Street","Off Street"] %>
                  </div><br/>
                  <div class="field">
                    <%= f.label "Cars" %>
                    <%= f.number_field :car, :min => 0 %>
                  </div>
                  <div class="field">
                    <%= f.label "En-suite" %>
                    <%= f.select :ensuite, [['No', false],['Yes', true]] %>
                  </div><br/>
                </div>
                <div style="float:right">  
                  <div class="field">
                    <%= f.label :featured %>
                    <%= f.select :featured, [['False', false],['True', true]] %>
                  </div><br/>
                  <div class="field">
                    <%= f.label :gas_CH %>
                    <%= f.select :gas_ch, [['False', false],['True', true]] %>
                  </div><br/>
<!--                   <div class="field">
                    <%#= f.label :glazing %>
                    <%#= f.select :glazing, [['False', false],['True', true]] %>
                  </div><br/>
 -->              <div class="field">
                    <%= f.label :garden %>
                    <%= f.select :garden, [['False', false],['True', true]] %>
                  </div><br/>
                  <div class="field">
                    <%= f.label :dg, "DG" %>
                    <%= f.select :dg, ["Full", "Partial", "No"] %>
                  </div><br/>
                  <div class="field">
                    <%= f.label :pets %>
                    <%= f.select :pets, [['No', false],['Yes', true]] %>
                  </div><br/>
                </div>  
                <br/><br/><br/>
              </div>
              <%= f.submit (params[:action]=="edit" ? "Update" : "Create"), class: "btn btn-proper btn-large", :style=>"margin:0" %>
            </div>  
          </div>
        <% end %>
      </div>
    </div>
  </div> 
</div>
<%= render 'shared/plans'%>
<script type="text/javascript">
  $(document).ready(function(){
    $('.long_desc').cleditor();
  })
  <% if current_user.status == "landlord" && current_user.plan == "free" %>
    $(".alert_popup").click(function(e) {
      e.preventDefault();
      $("#myModal").modal();
      $("#myModal").css("z-index",10000)
    });
  <% end %>
</script>
<style type="text/css">
  .cleditorMain{
    width: 575px !important;
    height: 300px !important;
  }
  .cleditorMain iframe {
    height: 248px !important;
  }
<style>