<style type="text/css">
  input,select {
    margin-top: -32px;
    margin-left: 60px;
  }
  .search-query{
    margin-top: 0px;
    margin-left: 0px;  
  }
</style>

<div id="content">
  <!-- <div id="main-title-content">
    <img src="/assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
    <div class="container">
      <div class="panel">
        <h1>Upload Items</h1>
        <p>Sub Title Here</p>
      </div>
    </div>
  </div> -->
  <!-- <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%#= render 'properties/news_carousel'%>
    </dl>
  </div> -->
  <div class="container" style="margin:0;width:100%">
    <div class="panel" style="padding-bottom:0">
      <% if current_user.status == "landlord"%>
        <div class="box-line">
          <h3 class="title-heading">Please complete the form</h3>
        </div>
        <ul class="unstyled proper-step">
          <li><a href="" class="active"><span>1</span></a></li>
          <li><a href="" ><span>2</span></a></li>
          <li><a href=""><span>3</span></a></li>
        </ul>
      <%end%>
      <div class="clearfix"></div>
      <div class="payment">
        <%= form_for @property, html: { multipart: true },:style=>"padding-bottom:0" do |f| %>
          <% if @property.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>
              <ul>
                <% @property.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="proper-form-step-area" style="height:1115px">
            <div class="proper-singup" style="max-width:100%;margin:0;padding:0;height:100%">
              <div style="float:left;margin:10px;width:23%">
                <h3 class=""><b>Property</b></h3>
                <div class="field">
                  <%= f.label :name %>
                  <%= f.text_field :name %>
                </div>
                <div class="field">
                  <%= f.label :address1 %>
                  <%= f.text_field :address1 %>
                </div>
                <div class="field">
                  <%= f.label :address2 %>
                  <%= f.text_field :address2 %>
                </div>
                <div class="field">
                  <%= f.label :address3 %>
                  <%= f.text_field :address3 %>
                </div>
                <div class="field">
                  <%= f.label :town %>
                  <%= f.text_field :town %>
                </div>
                <div class="field">
                  <%= f.label :postcode %>
                  <%= f.text_field :postcode, :style=>"width:90px"%>
                  <%= f.text_field :postcode1, :style=>"width:90px;margin-top:-68px;margin-left:175px"%>
                </div>
                <div class="field">
                  <%= f.label "Search Criteria",:style=>"width:53px" %>
                  <% if params[:action] == "edit" %>
                    <%= f.select :search_criteria,['Not Specified','Bungalows','Retirement Property','House / Flat Share','Garage / Parking','Flats / Apartments','Houses','Land','Mobile / Park Homes','Character Property','Commercial Property'],:style=>"margin-top:-42px", :selected => "#{PropertyType.where(:p_id=>f.object.property_type).first.search}"%>
                  <%else%>
                    <%= f.select :search_criteria,['Not Specified','Bungalows','Retirement Property','House / Flat Share','Garage / Parking','Flats / Apartments','Houses','Land','Mobile / Park Homes','Character Property','Commercial Property'],:style=>"margin-top:-42px"%>
                  <%end%>
                </div>
                <div class="field">
                  <%= f.label "PROP SUB ID",:style=>"width:53px" %>
                  <%#= f.select :property_type,['Not Specified','Terraced','End of Terrace','Semi-Detached','Detached','Mews','Cluster House','Ground Flat','Flat','Studio','Ground Maisonette','Maisonette','Bungalow','Terraced Bungalow','Semi-Detached Bungalow','Detached Bungalow','Mobile Home','Land','Link Detached House','Town House','Cottage','Chalet','Villa','Apartment','Penthouse','Finca','Barn Conversion','Serviced Apartments','Parking','Sheltered','Housing','Retirement Property','House Share','Flat Share','Park Home','Garages','Farm House','Equestrian','Facility','Duplex','Triplex','Longere','Gite','Barn','Trulli','Mill','Ruins','Restaurant','Cafe','Mill','Castle','Village House','Cave House','Cortijo','Farm Land','Plot','Country House','Stone House','Caravan','Lodge','Log Cabin','Manor House','Stately Home','Off-Plan','Semi-detached Villa','Detached Villa','Bar / Nightclub','Shop','Riad','House Boat','Hotel Room','Block of Apartments','Private Halls','Office','Business Park','Serviced Office','Retail Property (high street)','Retail Property (out of town)','Convenience Store','Garage','Hairdresser / Barber Shop','Hotel','Petrol Station','Post Office','Pub','Workshop','Distribution Warehouse','Factory','Heavy Industrial','Industrial Park','Light Industrial','Storage','Showroom','Warehouse','Land','Commercial Development','Industrial Development','Residential Development','Commercial Property','Data Centre','Farm','Healthcare Facility','Marine Property','Mixed Use','Research & Development Facility','Science Park','Guest House','Hospitality','Leisure Facility','Takeaway','Childcare Facility','Smallholding','Place of Worship','Trade Counter','Coach House'],:style=>"margin-top:-42px"%>
                  <% if params[:action] == "edit" %>
                    <%= f.select :property_type,[["#{PropertyType.where(:p_id=>f.object.property_type).first.p_type}",f.object.property_type]],:style=>"margin-top:-42px", :selected => "#{PropertyType.where(:p_id=>f.object.property_type).first.p_type}" %>
                  <%else%>
                    <%= f.select :property_type,[['Not Specified',0]],:style=>"margin-top:-42px" %>
                  <%end%>
                </div>

                <h3 style="margin-top:10px;padding:5px"><b>Marketing</b></h3>
                <div class="field">
                  <%= f.label :category %>
                  <%= f.select :category, ["Rent","Sale"] %>
                </div><br/>
                <div class="field">
                  <%= f.label "Status ID" %>
                  <%= f.select :status,['Available','SSTC','SSTCM','Under Offer','Reserved','Let Agreed'] %>
                </div>
                <div class="field">
                  <%= f.label :price %>
                  <%= f.text_field :price %>
                </div>
                <div class="field">
                  <%= f.label "PRICE_QUALIFIER",:style=>"width:50px" %>
                  <%= f.select :qualifier,['Default', 'POA', 'Guide Price', 'Fixed Price', 'Offers in Excess of', 'OIRO', 'Sale by Tender','From (new homes and commercial only)', 'Shared Ownership', 'Offers Over', 'Part Buy Part Rent', 'Shared Equity','Equity Loan','Offers Invited'],:id=>"qualifier" %>
                </div>
                <div class="field">
                  <%= f.label :agent_id %>
                  <% arr = Agent.all.map { |ag| [ag.name, ag.id ] } %>
                  <%= f.select :agent_id, (arr), :selected => @property.agent_id %>
                </div><br/>
                <div class="field">
                  <%= f.label :seal %>
                  <%= f.select :seal_approved, [['False', false],['True', true]] %>
                </div><br/>
                <div class="field">
                  <%= f.label :featured %>
                  <%= f.select :featured, [['False', false],['True', true]] %>
                </div><br/>
                <div class="field">
                  <%= f.label :visibility %>
                  <%= f.check_box :visibility %>
                </div>
                <div class="field" style="margin-top:-53px;margin-left:95px">
                  <%= f.label :otm%>
                  <%= f.check_box :otm %>
                </div>
                <!-- <div class="field" style="margin-top:-53px;margin-left:175px">
                  <%#= f.label :let%>
                  <%#= f.check_box :let %>
                </div>
                <div class="field" style="margin-top:-53px;margin-left:130px">
                  <div class="sol">
                    <%#= f.label :sold %>
                    <%#= f.check_box :sold%>
                  </div>
                </div> --> 
                <div class="field" style="margin-top:40px">
                  <%= f.label :tag_line %>
                  <%= f.text_field :tag_line,:style=>"width:500px" %>
                </div> 
              </div>
              <div style="float:left;width:20%;margin:10px;height:95%">
                <h3 class=""><b>Images</b></h3>
                <div class="field">
                  <label for="property_image1" style="margin:0">Main
                    <%if params[:action]=="edit" && !@property.image1.file.nil?%>
                    <span style="margin-left:132px"><%= @property.image1.file.filename %></span><%end%>
                  </label>
                  <%if params[:action]=="edit" %>
                    <%= f.file_field :image1,:style=>"width:95px;line-height:0;" %>
                  <%else%>
                    <%= f.file_field :image1,:style=>"line-height:0;" %>
                  <%end%>
                </div>
                <%(2..10).each do |n|%>
                  <div class="field alert_popup">
                    <label for="property_image<%=n%>" style="margin:0">Image <%=n-1%>
                      <%if params[:action]=="edit" && !@property.send("image"+n.to_s).file.nil?%>
                      <span style="margin-left:114px"><%= @property.send("image"+n.to_s).file.filename %></span><%end%>
                    </label>
                    <%if params[:action]=="edit" && !@property.send("image"+n.to_s).file.nil?%>
                      <%= f.file_field ("image"+n.to_s).to_sym,:style=>"width:95px;line-height:0;" %>
                    <%else%>
                      <%= f.file_field ("image"+n.to_s).to_sym,:style=>"line-height:0;" %>
                    <%end%>
                  </div>
                <%end%>
              </div>  
              <div style="float:right;width:48%;margin:10px;">  
                <div class="field" >
                  <%= f.label :summary %>
                  <%= f.text_area :summary, style: "width:98%;height:50px",:maxlength => 300 %>
                </div>
                <div class="field" >
                  <%= f.label :short_description %>
                  <%= f.text_area :short_description, style: "width:98%;height:60px",:maxlength => 900 %>
                </div>
                <div class="field" >
                  <%= f.label :description %>
                  <%= f.text_area :description, :class=>"long_desc" %>
                </div><br/>
                <h3 class=""><b>Key Features</b></h3>
                <div style="float:left">
                  <div class="field">
                    <%= f.label :beds %>
                    <%= f.number_field :beds, :min => 0 %>
                  </div>
                  <div class="field">
                    <%= f.label :bath %>
                    <%= f.number_field :bath, :min => 0 %>
                  </div>
                  <div class="field">
                    <%= f.label :parking %>
                    <%= f.select :parking_status, ["None","On Street","Off Street"] %>
                  </div><br/>
                  <div class="field">
                    <%= f.label "Cars" %>
                    <%= f.number_field :car, :min => 0 %>
                  </div>
                  <div class="field">
                    <%= f.label "En-suite" %>
                    <%= f.select :ensuite, [['No', 'No'],['Yes', 'Yes']] %>
                  </div><br/>
                  <!-- <div class="field">
                    <%#= f.label :furnished %>
                    <%#= f.select :furnished, ['Furnished','Unfurnished'] %>
                  </div><br/> -->
                  <div class="field" style=<%="display:none" if (params[:action]=='edit' && @property.category == 'Sale' )%> >
                    <%= f.label "LET_TYPE_ID", style: "margin-left:-10px" %>
                    <%= f.select :let_type_id, ['Not Specified','Long Term','Short Term','Student','Commercial'] %>
                  </div><br/>
                  <div class="field">
                    <%= f.label "Furnished" %>
                    <%= f.select :let_furn_id, ['Not Specified','Furnished','Part Furnished','Unfurnished','Furnished/Un Furnished'] %>
                  </div><br/>
                  <div class="field" style="width:305px !important">
                    <%= f.label "Let Date Available" %>
                    <%= f.datetime_select :let_date_available, :ampm => false, :minute_step => 15 %>
                  </div><br/>
                </div>
                <div style="float:right">  
                  <div class="field">
                    <%= f.label :gas_CH %>
                    <%= f.select :gas_ch, [['No', 'No'],['Yes', 'Yes']] %>
                  </div><br/>
<!--                   <div class="field">
                    <%#= f.label :glazing %>
                    <%#= f.select :glazing, [['False', false],['True', true]] %>
                  </div><br/>
 -->              <div class="field">
                    <%= f.label :garden %>
                    <%= f.select :garden, [['No', 'No'],['Yes', 'Yes']] %>
                  </div><br/>
                  <div class="field">
                    <%= f.label :dg, "DG" %>
                    <%= f.select :dg, ["Full", "Partial", "No"] %>
                  </div><br/>
                  <div class="field">
                    <%= f.label :pets %>
                    <%= f.select :pets, [['No', 'No'],['Yes', 'Yes']] %>
                  </div><br/>
                  <div class="field">
                    <%= f.label :feature1 %>
                    <%= f.text_field :feature1 %>
                  </div>
                  <div class="field">
                    <%= f.label :feature2 %>
                    <%= f.text_field :feature2 %>
                  </div>
                  <div class="field">
                    <%= f.label :epc %>
                    <%= f.text_field :epc %>
                  </div><br/>
                  
                </div>  
                <br/><br/><br/>
              </div>
              <div style="padding:10px;margin-top:950px;">
                <%= f.submit (params[:action]=="edit" ? "Update" : "Create"), class: "btn btn-proper btn-large", :style=>"margin:0" %>
              </div>
            </div>  
          </div>
        <% end %>
      </div>
    </div>
  </div> 
</div>
<%= render 'shared/plans'%>
<script type="text/javascript">
  $(document).ready(function(){
    $('.long_desc').cleditor();
    $("#property_search_criteria").on('change', function() {
      var search = $("#property_search_criteria option:selected").text()
      $.ajax({
        type: "get",
        url: '/search_criteria',
        data: 'search='+search,
        success: function(res){
          $("#property_property_type").html(res)
        }
      })
    })
    $("#property_category").on('change', function() {
      var search = $("#property_category option:selected").text()
      if($("#property_category option:selected").text() == "Sale"){
        $("#property_let_type_id").parent().css("display","none")
      }else{
        $("#property_let_type_id").parent().css("display","block")
      }
    })
  })
  <% if current_user.status == "landlord" && current_user.plan == "free" %>
    $(".alert_popup").click(function(e) {
      e.preventDefault();
      $("#myModal").modal();
      $("#myModal").css("z-index",10000)
    });
  <% end %>
</script>
<style type="text/css">
  .cleditorMain{
    width: 98% !important;
    height: 300px !important;
  }
  .cleditorMain iframe {
    height: 248px !important;
  }
  #property_qualifier{
    margin-top: -48px !important
  }
  #property_status{
    margin-top: -38px !important
  }
  #property_let_date_available_1i{
      width: 62px !important;
      margin-top: 0 !important;
      margin-left: 0 !important;
  }
  #property_let_date_available_2i{
      width: 66px !important;
      margin-top: 0 !important;
      margin-left: 0 !important;
  }
  #property_let_date_available_3i,#property_let_date_available_4i,#property_let_date_available_5i{
      width: 48px !important;
      margin-top: 0 !important;
      margin-left: 0 !important;
  }
<style>