<style type="text/css">
  input,select {
    margin-top: -32px;
    margin-left: 60px;
  }
  .search-query{
    margin-top: 0px;
    margin-left: 0px;  
  }
</style>

<div id="content">
  <div class="container" style="margin:0;width:100%">
    <div class="panel" style="padding-bottom:0">
      <ul class="nav nav-tabs" style="margin:30px; margin-bottom:0;border-bottom:none">
        <li class="active"><a href="#property_details">Property Details</a></li>
        <li><a href="#property_images">Property Images</a></li>
        <li><a href="#marketing_details">Marketing Details</a></li>
        <li><a href="#landlord_details">Landlord Details</a></li>
        <% klass = params[:action]=="new" ? "hide" : (@property.stage=="Available" ? "hide" : "") %>
        <li id="tenant_tab" class=<%=klass%> ><a href="#tenant_details">Tenant Details</a></li>
        <% klass1 = params[:action]=="new" ? "hide" : (@property.stage=="On Hold/Awaiting Referencing" ? "" : "hide") %>
        <li id="vetting_tab" class=<%=klass1%> ><a href="#vetting">Vetting</a></li>
        <% klass2= (params[:action]=="new"|| @property.vetting.blank?) ? "hide" : (@property.vetting.outcome=="Pass" ? "" : "hide") %>
        <li id="tenancy_term_tab" class=<%=klass2%>><a href="#tenancy_term">Tenancy Term</a></li>
      </ul>
      <div class="clearfix"></div>
      <div class="payment">
        <%= form_for @property, html: { multipart: true },:style=>"padding-bottom:0" do |f| %>
          <% if @property.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>
              <ul>
                <% @property.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="proper-form-step-area" style="padding-top:0">
            <div class="proper-singup" style="max-width:100%;margin:0;padding:0;height:100%">
              <div class="tab-content" style="background: none !important;border:none !important">
                <%= render :partial => "add_property/property_detail", :locals=>{:f=>f} %>
                <%= render :partial => "add_property/property_images", :locals=>{:f=>f} %>
                <%= render :partial => "add_property/marketing_detail", :locals=>{:f=>f} %>
                <%= render :partial => "add_property/landlord_detail", :locals=>{:f=>f} %>
                <%= render :partial => "add_property/tenant_detail", :locals=>{:f=>f} %>
                <%= render :partial => "add_property/vetting", :locals=>{:f=>f} %>
                <%= render :partial => "add_property/tenancy_term", :locals=>{:f=>f} %>
              </div>
            </div>  
          </div>
          <div style="padding:10px;margin-top:0px;margin-left:45%">
            <%= f.submit (params[:action]=="edit" ? "Update" : "Create"), class: "btn btn-proper btn-large", :style=>"margin:0", data: {confirm: "Are you sure?"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div> 
</div>
<%= render 'shared/plans'%>
<script type="text/javascript">
  $(document).ready(function(){
    $('.long_desc').cleditor();
    $("#property_search_criteria").on('change', function() {
      var search = $("#property_search_criteria option:selected").text()
      $.ajax({
        type: "get",
        url: '/search_criteria',
        data: 'search='+search,
        success: function(res){
          $("#property_property_type").html(res)
        }
      })
    })
    $("#property_category").on('change', function() {
      var category = $("#property_category option:selected").text()
      if(category == "Sale"){
        $("#property_let_type_id").parent().css("display","none")
        $("#property_stage").html('<option value="Available">Available</option><option value="offer made">offer made</option><option value="SSTC">SSTC</option><option value="sale complete">sale complete</option>')
      }else{
        $("#property_let_type_id").parent().css("display","block")
        $("#property_stage").html('<option value="Available">Available</option><option value="On Hold">On Hold</option><option value="Awaiting Referencing">Awaiting Referencing</option><option value="Subject to Tenancy">Subject to Tenancy</option><option value="Let Agreed">Let Agreed</option>')
      }
    })
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
  })
  <% if current_user.status == "landlord" && current_user.plan == "free" %>
    $(".alert_popup").click(function(e) {
      e.preventDefault();
      $("#myModal").modal();
      $("#myModal").css("z-index",10000)
    });
  <% end %>
</script>
<style type="text/css">
  .cleditorMain{
    width: 98% !important;
    height: 300px !important;
  }
  .cleditorMain iframe {
    height: 248px !important;
  }
  #property_qualifier{
    margin-top: -48px !important
  }
  #property_status{
    margin-top: -38px !important
  }
  #property_let_date_available_1i{
      width: 70px !important;
      margin-left: 60px !important;
  }
  #property_let_date_available_2i, #property_epc_date_complete_2i, #property_cp12_date_complete_2i, #property_esc_date_complete_2i,#property_epc_due_date_2i, #property_cp12_due_date_2i, #property_esc_due_date_2i{
      width: 100px !important;
      margin-left: 0 !important;
  }
  #property_let_date_available_3i, #property_epc_date_complete_3i, #property_cp12_date_complete_3i, #property_esc_date_complete_3i,#property_epc_due_date_3i, #property_cp12_due_date_3i, #property_esc_due_date_3i{
      width: 50px !important;
      margin-left: 0 !important;
  }
  #property_epc_date_complete_1i, #property_cp12_date_complete_1i, #property_esc_date_complete_1i,#property_epc_due_date_1i, #property_cp12_due_date_1i, #property_esc_due_date_1i{
      width: 70px !important;
      margin-left: 90px !important;
  }
</style>