<!--Start Content-->
<div id="content">
    <!--Start Main Title-->
    <div class="container" style="width:1200px">
        <div class="panel">
            <div class="box-line">
                <h3 class="title-heading">Please complete the form</h3>
            </div>
            <!-- Start List Step Upload-->
            <!-- <ul class="unstyled proper-step">
                <li><a href="upload_step1.html" class="active"><span>1</span></a></li>
                <li><a href="upload_step2.html" ><span>2</span></a></li>
                <li><a href="upload_step3.html"><span>3</span></a></li>
            </ul> -->
            <div class="clearfix"></div>
            <!-- Start Form Step -->
            <%= form_for @property, html: { multipart: true , class: "proper-form-step", style: "height:800px"} do |f| %>
                <div class="proper-form-step-area">
                    <div class="" style="width:385px;height:770px;float:left">
                       <h4>My Property</h4>                
                        <div class="span4">
                            <%= f.label :name %>
                            <%= f.text_field :name,class: "input-block-level",required: true, placeholder: "A Unique Name for your Property" %>
                        </div>
                        <div class="span4">
                            <%= f.label :address1 %>
                            <%= f.text_field :address1,class: "input-block-level",required: true %>
                        </div>
                        <% [:address2, :address3].each do |obj| %>
                            <div class="span4">
                                <%= f.label obj %>
                                <%= f.text_field obj,class: "input-block-level" %>
                            </div>
                        <%end%>
                        <div class="span4">
                            <%= f.label :town %>
                            <%= f.text_field :town,class: "input-block-level",required: true %>
                        </div>
                        <div class="span4">
                            <%= f.label "Postcode" %>
                            <%= f.text_field :postcode,class: "input-block-level",required: true, style: "width: 35% !important;margin-left:5px", placeholder: "XXX" %>
                            <%= f.text_field :postcode1,class: "input-block-level",required: true, style: "width: 35% !important", placeholder: "XXX" %>
                        </div>
                        <div class="span4">
                          <%= f.label :search_criteria %>
                          <%= f.select :search_criteria,['Not Specified','Bungalows','Retirement Property','House / Flat Share','Garage / Parking','Flats / Apartments','Houses','Land','Mobile / Park Homes','Character Property','Commercial Property'], class: "input-block-level", required: "true"%>
                        </div>
                        <div class="span4">
                          <%= f.label "PROP SUB ID" %>
                          <%= f.select :property_type,[['Not Specified',0]], class: "input-block-level", required: "true" %>
                        </div>
                        <div class="span4" style="margin-top:20px">
                          <h4>Key Features</h4>
                        </div>
                        <div class="key_fea" style="width:200px;height:280px;float:left">
                          <div class="span2">
                            <%= f.label :beds %>
                            <%= f.number_field :beds, :min => 0, class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label :bath %>
                            <%= f.number_field :bath, :min => 0, class: "input-block-level", required: "true" %>
                          </div>

                          <div class="span2">
                            <%= f.label :parking %>
                            <%= f.select :parking_status, ["None","On Street","Off Street"], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label "Cars" %>
                            <%= f.number_field :car, :min => 0, class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label "En-suite" %>
                            <%= f.select :ensuite, [['No', 'No'],['Yes', 'Yes']], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2" style="width:175px">
                            <%= f.label "LET_TYPE" %>
                            <%= f.select :let_type_id, ['Not Specified','Long Term','Short Term','Student','Commercial'], class: "input-block-level", required: "true",:style=>"width: 110px !important" %>
                          </div>
                          <div class="span2" style="width:175px">
                            <%= f.label "Furnished" %>
                            <%= f.select :let_furn_id, ['Not Specified','Furnished','Part Furnished','Unfurnished','Furnished/Un Furnished'], class: "input-block-level", required: "true",style: "width:110px !important" %>
                          </div>
<!--                           <div class="span4" style="width:375px">
                            <%#= f.label :epc %>
                            <%#= f.text_field :epc, class: "input-block-level", required: "true",style: "width:308px !important" %>
                          </div>
 -->                        </div>
                        <div class="key_fea" style="width:195x;height:280px;">
                          <div class="span2">
                            <%= f.label :gas_CH %>
                            <%= f.select :gas_ch, [['No', 'No'],['Yes', 'Yes']], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label :garden %>
                            <%= f.select :garden, [['No', 'No'],['Yes', 'Yes']], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label :dg, "DG" %>
                            <%= f.select :dg, ["Full", "Partial", "No"], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label :pets %>
                            <%= f.select :pets, [['No', 'No'],['Yes', 'Yes']], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label :feature1 %>
                            <%= f.text_field :feature1, class: "input-block-level" %>
                          </div>
                          <div class="span2">
                            <%= f.label :feature2 %>
                            <%= f.text_field :feature2, class: "input-block-level" %>
                          </div>
                          
                        </div>
                    </div>
                    <div class="property_images" style="width:300px;height:715px;float:left;margin-left:15px">
                        <h4>Property Images</h4>
                        <div class="span4">
                            <label>Main Image</label>
                            <%if params[:action]=="edit" && !@property.image1.file.nil?  %>
                                <%= f.file_field :image1 %>
                                <%= @property.image1.file.filename %>
                            <%else%>
                                <%= f.file_field :image1 %>
                            <%end%>
                        </div>
                        <%(2..4).each do |n|%>
                            <div class="span4">
                                <label for="property_image<%=n%>" style="margin:0">Image <%=n-1%>
                                </label>
                                <%if params[:action]=="edit" && !@property.send("image"+n.to_s).file.nil?%>
                                    <%= f.file_field ("image"+n.to_s).to_sym %>
                                    <%= @property.image1.file.filename %>
                                <%else%>
                                    <%= f.file_field ("image"+n.to_s).to_sym %>
                                <%end%>
                              </div>
                        <%end%>
                        <%(5..7).each do |n|%>
                            <div class="span4">
                                <label for="property_image<%=n%>" style="margin:0">Image <%=n-1%>
                                </label>
                                <%if params[:action]=="edit" && !@property.send("image"+n.to_s).file.nil?%>
                                    <%= f.file_field ("image"+n.to_s).to_sym %>
                                    <%= @property.image1.file.filename %>
                                <%else%>
                                    <%= f.file_field ("image"+n.to_s).to_sym %>
                                <%end%>
                            </div>
                        <%end%>
                        <%(8..10).each do |n|%>
                            <div class="span4">
                                <label for="property_image<%=n%>" style="margin:0">Image <%=n-1%>
                                </label>
                                <%if params[:action]=="edit" && !@property.send("image"+n.to_s).file.nil?%>
                                    <%= f.file_field ("image"+n.to_s).to_sym %>
                                    <%= @property.image1.file.filename %>
                                <%else%>
                                    <%= f.file_field ("image"+n.to_s).to_sym %>
                                <%end%>
                            </div>
                        <%end%>

                        <div class="span4">
                            <label>EPC Upload</label>
                            <%if params[:action]=="edit" && !@property.epc.nil? %>
                                <%= f.file_field :epc %>
                                <%= @property.epc.file.filename %>
                            <%else%>
                                <%= f.file_field :epc %>
                            <%end%>
                        </div>
                        <div class="span4">                    
                            <h4 >Marketing</h4>
                        </div>
                        <div class="span3">
                          <%= f.label :category %>
                          <%= f.select :category, ["Rent","Sale"], class: "input-block-level", required: "true" %>
                        </div>
                        <div class="span3">
                          <%= f.label "Status ID" %>
                          <%= f.select :status,['Available','Let Agreed'], class: "input-block-level", required: "true" %>
                        </div>
                        <div class="span3">
                          <%= f.label :price %>
                          <%= f.text_field :price, class: "input-block-level", required: "true",style: "width:71.5% !important" %>
                        </div>
                    </div>
                    <div class="" style="width:430px;height:770px;float:right">

                        <div class="span4" style="width:440px">
                            <h4>Tag Line</h4>
                          <%#= f.label :tag_line %>
                          <h6>A single sentence highlighting your properties best features</h6>
                          <%= f.text_field :tag_line, class: "input-block-level", required: "true",style: "width:440px !important" %>
                        </div>
                        <div class="span4" style="width:440px">
                          <h4>Summary</h4>
                          <%#= f.label :summary %>
                          <h6>A short summary of 300 characters for your On The Market Advert</h6>
                          <%= f.text_area :summary,:maxlength => 300, class: "input-block-level", required: "true",style: "width:440px !important" %>
                        </div>
                        <div class="span4" style="width:440px">
                          <h4>Short Description</h4>
                          <%#= f.label :short_description %>
                          <h6>Please provide a brief description of your property</h6>
                          <%= f.text_area :short_description, style: "height:60px;width:440px !important",:maxlength => 900, class: "input-block-level", required: "true" %>
                        </div>
                        <div class="span4" style="width:440px">
                          <h4>Description</h4>
                          <%#= f.label :description %>
                          <h6>Please provide a full description of your property using the template</h6>
                          <%= f.text_area :description, style: "height:100px;width:440px !important", class: "long_desc input-block-level", required: "true" %>
                        </div>

<%
=begin%>                    
                        <div class="span4">
                          <h4>Key Features</h4>
                        </div>
                        <div class="key_fea" style="width:200px;height:280px;float:left">
                          <div class="span2">
                            <%= f.label :beds %>
                            <%= f.number_field :beds, :min => 0, class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label :bath %>
                            <%= f.number_field :bath, :min => 0, class: "input-block-level", required: "true" %>
                          </div>

                          <div class="span2">
                            <%= f.label :parking %>
                            <%= f.select :parking_status, ["None","On Street","Off Street"], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label "Cars" %>
                            <%= f.number_field :car, :min => 0, class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label "En-suite" %>
                            <%= f.select :ensuite, [['No', 'No'],['Yes', 'Yes']], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2" style="width:175px">
                            <%= f.label "LET_TYPE_ID", style: "margin-left:-10px" %>
                            <%= f.select :let_type_id, ['Not Specified','Long Term','Short Term','Student','Commercial'], class: "input-block-level", required: "true",:style=>"width: 110px !important" %>
                          </div>
                          <div class="span2" style="width:175px">
                            <%= f.label "Furnished" %>
                            <%= f.select :let_furn_id, ['Not Specified','Furnished','Part Furnished','Unfurnished','Furnished/Un Furnished'], class: "input-block-level", required: "true",style: "width:110px !important" %>
                          </div>
                        </div>
                        <div class="key_fea" style="width:200x;height:280px;">
                          <div class="span2">
                            <%= f.label :gas_CH %>
                            <%= f.select :gas_ch, [['No', 'No'],['Yes', 'Yes']], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label :garden %>
                            <%= f.select :garden, [['No', 'No'],['Yes', 'Yes']], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label :dg, "DG" %>
                            <%= f.select :dg, ["Full", "Partial", "No"], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label :pets %>
                            <%= f.select :pets, [['No', 'No'],['Yes', 'Yes']], class: "input-block-level", required: "true" %>
                          </div>
                          <div class="span2">
                            <%= f.label :feature1 %>
                            <%= f.text_field :feature1, class: "input-block-level" %>
                          </div>
                          <div class="span2">
                            <%= f.label :feature2 %>
                            <%= f.text_field :feature2, class: "input-block-level" %>
                          </div>
                          <div class="span2">
                            <%= f.label :epc %>
                            <%= f.text_field :epc, class: "input-block-level", required: "true" %>
                          </div>
                        </div>
<%
=end%>
                    </div>
                </div>

                <button class="btn btn-proper btn-large" style="margin:20px">Submit <i class="icon-arrow-right"></i></button>
            <%end%>
        </div>

    </div>
</div><!--EndContent-->
<script type="text/javascript">
  $(document).ready(function(){
    $('.long_desc').cleditor();
    $("#property_search_criteria").on('change', function() {
      var search = $("#property_search_criteria option:selected").text()
      $.ajax({
        type: "get",
        url: '/search_criteria',
        data: 'search='+search,
        success: function(res){
          $("#property_property_type").html(res)
        }
      })
    })
    $("#property_category").on('change', function() {
      var search = $("#property_category option:selected").text()
      if($("#property_category option:selected").text() == "Sale"){
        $("#property_let_type_id").parent().css("display","none")
      }else{
        $("#property_let_type_id").parent().css("display","block")
      }
    })
  })
  <% if current_user.status == "landlord" && current_user.plan == "free" %>
    $(".alert_popup").click(function(e) {
      e.preventDefault();
      $("#myModal").modal();
      $("#myModal").css("z-index",10000)
    });
  <% end %>

  $(".btn-proper").click(function(e){
    if($("#property_epc").val() == ""){
      e.preventDefault()
      var x = confirm("EPC is a legal requirement, please provide us with a copy as soon as it is Available.")
      if (x==true){
        $(".proper-form-step").submit()        
      }
    }
  })
</script>

<style type="text/css">
  select{
    width: 71.5% !important;
    float: right;
  }
  .cleditorMain{
    width: 98% !important;
    /*height: 300px !important;*/
  }
  .input-block-level{
    display: inline-block;
    width: 250px !important;
    float: right;
  }
  label{
    display: inline-block;
    width: auto;
    margin: 5px;
    margin-left: 0;
  }
  .span4{
    margin-left: 0;
    width: 350px;
  }
  .property_images .span4{
    margin: 8px;
  }
  .property_images .span4 input{
    float: right;
  }
  .key_fea select{
    width: 95px !important
  }
  .key_fea input{
    width: 95px !important
  }
  .span2{
    margin-left: 0;
    width: 175px !important;
  }
  #property_let_type_id,#property_let_furn_id{
    width: 108px !important;
  }
</style>
