
<!--Start Content-->
<div id="content">
  <!--Start Main Title-->
  <div id="main-title-content">
    <img src="assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
    <div class="container">
      <div class="panel">
        <h1>Community Adverts</h1>
        <h3>Call inside to Advertise here</h3>
      </div>
    </div>
  </div> <!--End Main Title-->
  <!--    News Carousel-->
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <!--    End News Carousel-->
  <div class="container" style="width:1340px">
    <div class="panel">
      <!--Start Mission Wrapper-->
      <div class="box-line">
        <h1 class="title-heading">Community Ads</h1>
      </div>
      <div class="row-fluid">
          <% b= (@advertisements_t.count % 3)%>
          <div id="slider-wrapper" style="margin-left:-27px !important;">
            <ul id="ad_carousel1">
              <% if @advertisements_t.count == 0 %>
                <% 3.times do %>
                  <div class="span4" style="margin-left:5px;margin-top:10px">
                    <div class="dialog-box-style">
                      <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span>Call inside to Advertise here</h3>
                      <p>Coming Soon...</p>
                    </div>
                    <div class="arrow-bottom"></div>
                    <img alt='images' src="assets/default_images/no.jpg" style="height:200px;width:450px" class="full"/><span class="mask_hover"></span>
                  </div>

                <% end %>
              <% elsif (b!= 0) %>
                <% @advertisements_t.each do |adv| %>
                  <div class="span4" style="margin-left:5px">
                    <div class="dialog-box-style">
                      <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span><%= adv.name %></h3>
                      <p><%= adv.description %></p>
                    </div>
                    <div class="arrow-bottom"></div>
                    <%= image_tag adv.image.url, style: "height:200px;width:450px", class: "full", class: "mask_hover" %>
                  </div>
                <% end %>
                <% (3-b).times do %>
                  <div class="span4" style="margin-left:5px;">
                    <div class="dialog-box-style">
                      <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span>Call inside to Advertise here</h3>
                      <p>Coming Soon...</p>
                    </div>
                    <div class="arrow-bottom"></div>
                    <img alt='images' src="assets/default_images/no.jpg" style="height:200px;width:450px" class="full"/><span class="mask_hover"></span>
                  </div>
                <% end %>  
              <% else %>
                <% @advertisements_t.each do |ad| %>
                  <div class="span4" style="margin-left:5px">
                    <div class="dialog-box-style">
                      <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span><%= ad.name %></h3>
                      <p><%= ad.description %></p>
                    </div>
                    <div class="arrow-bottom"></div>
                    <%= image_tag ad.image.url, style: "height:200px;width:450px", class: "full", class: "mask_hover" %>
                  </div>
                <% end %>

              <% end %>
              <%if @advertisements_t.count < @advertisements_b.count %>
                  <% 3.times do %>
                    <div class="span4" style="margin-left:5px">
                      <div class="dialog-box-style">
                        <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span>Call inside to Advertise here</h3>
                        <p>Coming Soon...</p>
                      </div>
                      <div class="arrow-bottom"></div>
                      <img alt='images' src="assets/default_images/no.jpg" style="height:200px;width:450px" class="full"/><span class="mask_hover"></span>
                    </div>

                  <% end %>
                <%end%>
            </ul>
          </div>
          <% a= (@advertisements_b.count % 3)%>
          <div id="slider-wrapper" style="margin-left:-27px !important;">
            <ul id="ad_carousel2">
              <% if @advertisements_b.count == 0 %>
                <% 3.times do %>
                  <div class="span4" style="margin-left:5px;margin-top:10px">
                    <div class="dialog-box-style">
                      <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span>Call inside to Advertise here</h3>
                      <p>Coming Soon...</p>
                    </div>
                    <div class="arrow-bottom"></div>
                    <img alt='images' src="assets/default_images/no.jpg" style="height:200px;width:450px" class="full"/><span class="mask_hover"></span>
                  </div>
                <% end %>
              <% elsif (a!=0) %>
                  <% @advertisements_b.each do |adv| %>
                    <div class="span4" style="margin-left:5px;margin-top:10px">
                      <div class="dialog-box-style">
                        <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span><%= adv.name %></h3>
                        <p><%= adv.description %></p>
                      </div>
                      <div class="arrow-bottom"></div>
                      <%= image_tag adv.image.url, style: "height:200px;width:450px", class: "full", class: "mask_hover" %>
                    </div>
                  <% end %>
                  <% (3-a).times do %>
                    <div class="span4" style="margin-left:5px;margin-top:10px">
                      <div class="dialog-box-style">
                        <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span>Call inside to Advertise here</h3>
                        <p>Coming Soon...</p>
                      </div>
                      <div class="arrow-bottom"></div>
                      <img alt='images' src="assets/default_images/no.jpg" style="height:200px;width:450px" class="full"/><span class="mask_hover"></span>
                    </div>
                  <% end %>
              <% else %>
              <% @advertisements_b.each do |ad| %>
                <div class="span4" style="margin-left:5px;margin-top:10px">
                  <div class="dialog-box-style">
                    <h3><span class="main-circle-icon"><i class="icon-arrow-right"></i></span><%= ad.name %></h3>
                    <p><%= ad.description %></p>
                  </div>
                  <div class="arrow-bottom"></div>

                    <%= image_tag ad.image.url, style: "height:200px;width:450px", class: "full", class: "mask_hover" %>
                </div>
              <% end %>
            <% end %>

            </ul>
          </div>
      </div>
    </div>
  </div>
</div><!--EndContent-->

<script type="text/javascript">
    if ($('#ad_carousel1,#ad_carousel2').length){
        $('#ad_carousel1,#ad_carousel2').carouFredSel({
            width: '100px',
            circular: true,
            responsive: true,
            items: {
                height: "250px",
                margin: 0,
                visible: {
                    min: 0,
                    max: 3
                }

            },
            align: true,
            scroll: {
                pauseOnHover: 'resume',
                fx: 'fade',
                easing: 'linear',
                items: 3,
                duration: 1000,
                timeoutDuration: 3000
            },
            mousewheel: true,
            swipe: {
                onMouse: false,
                onTouch: false
            },
            prev: '#prev',
            next: '#next',
            pagination: {
                container: '#pager',
                deviation: 1
            }

        });
    }
</script>