<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%#= wicked_pdf_stylesheet_link_tag "bootstrap.css" %>
<%#= wicked_pdf_stylesheet_link_tag "font-awesome.css" %>
<%# no_image = "#{Rails.root}/app/assets/images/default_images/no.jpg" %>
<% no_image = "" %>

<div style="border:1px solid #2e4588;height:1875px;width:1300px;">
  <div style="margin:10px">
    <center><%=wicked_pdf_image_tag("seal_logo.png", :height=>"200",:width=>"900") %></center>
  </div>
  <div style="height:280px;width:1300px;">
    <%if @properties.address1.to_i == 0 %>
      <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.address1}"%></b></center></div>
      <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.address2}"%></b></center></div>
    <%else%>
      <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.address1} #{@properties.address2}"%></b></center></div>
    <%end%>  
    <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.address3} #{@properties.town}"%></b></center></div>
    <!-- <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%#="#{@properties.town}"%></b></center></div> -->
    <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.postcode.to_s} #{@properties.postcode1.to_s}"%></b></center></div>
  </div>

  <div class="desc-type for-sale" style="height:50px;width:125px;position:absolute;top:530px; padding:5px;left:202px;color:white;font-size:30px;background: #FF6666;font-weight: bold;z-index:1;opacity:0.8"><%=(@properties.category == "rent" || @properties.category == "Rent") ? "To Rent" : "To Sale" %></div>
  
  <div style="margin:20px;width:900px;position:absolute;left:180px;border:2px solid #2e4588;height:700px">
    <center><%=image_tag(@properties.image1.url.gsub("https","http"), :height=> "700",:width=>"898") %></center>
  </div>

  <div style="height:70px;width:<%=(@properties.category == "rent" || @properties.category == "Rent") ? "130px" : "230px" %>;position:absolute;font-weight: bold;background-color: rgba(0,0,0,0.6);font-size: 50px;color:white;padding:10px;top:1141px;left:202px">
    &pound; <%= @properties.price.to_i %>
  </div>

  <div style="height:80px;width:1300px;background-color:#903c9e;font-size:40px;color:white;font-family:arial;position:relative; top:800px;padding-top:20px">
    <b><center><%=@properties.tag_line%></center></b>
  </div>

  <div style="position:absolute; top:1550px;height:80px;width:1300px;text-align: center;">
    <span class="tag">Beds : <%= @properties.beds %></span>
    
    <span class="tag">Bath : <%= @properties.bath %></span>
    
    <% if @properties.garden == "Yes" %>
      <span class="tag">Garden : <%= @properties.garden %></span>
    <%end%>
    
    <% if @properties.parking_status != "None" %>
      <span class="tag">Parking : <%= @properties.parking_status %></span>
    <%end%>  
    
    <% if @properties.gas_ch == "Yes" %>
      <span class="tag">Gas CH : <%= @properties.gas_ch %></span>
    <%end%>  
    
    <% if @properties.dg == "Yes" %>
      <span class="tag">DG : <%= @properties.dg %></span>
    <%end%>

    <% if @properties.furnished != "Not Specified" %>
      <span class="tag"><%= @properties.furnished %></span>
    <%end%>  
  </div>

  <div style="position:absolute;top:1780px;left:60px;">
    <center><%=wicked_pdf_image_tag("contact_info.png", :height=> "80", :width => "1200") %></center>
  </div>
</div>
<div class="page-break" style="display:block; clear:both; page-break-after:always;"></div>

<div style="position:relative;width:1300px;height:1875px;border:1px solid transparent">
  <div style="height:80px;color:white;font-size:40px;background-color:#903c9e;padding-top:20px;padding-left:560px;"><b>Contact Us</b></div>

  <div style="height:550px;border:1px solid #903c9e;vertical-align:middle; padding:20px;font-family:arial;margin-bottom:30px">
    <div style="float:left;margin-left:30px;margin-top:50px">
      <div style="font-size:40px;padding:10px"><center><b>Agent Information</b></center></div>
      <div style="margin-top:40px;margin:10px">
        <div style="font-size:40px;margin:10px"><center><b><%=@properties.agent.name%></b></center></div>
        <div style="font-size:40px;margin:10px"><center><b><%=@properties.agent.phone%></b></center></div>
        <div style="font-size:40px;margin:10px"><center><b><%=@properties.agent.name.downcase%>@sealproperties.co.uk</b></center></div>
        
        <div style="font-size:40px;margin:10px"><center><b>167/169 Saltwell Road</b></center></div>
        <div style="font-size:40px;margin:10px"><center><b>Gateshead, NE8
4TJ</b></center></div>
        <div style="font-size:40px;margin:10px"><center><b>www.sealproperties.co.uk</b></center></div>
      </div>
    </div>

    <div style="float:right;margin-right:30px;margin-top:25px">
      <div style="width:520px;"><center><%=image_tag(@properties.agent.image.present? ? @properties.agent.image.url(:large).gsub("https","http") : no_image, :height=> "500",:width=>"500") %></center></div>
    </div>
  </div>

  <div style="height:490px;vertical-align:middle;font-family:arial;margin-bottom:30px">
    <div style="float:left;width:620px;">
      <div style="height:80px;color:white;font-size:40px;background-color:#903c9e;padding-top:20px;padding-left:240px;"><b>Scan Me</b></div>
      <div style="height:350px;border:1px solid #903c9e;vertical-align:middle; padding:20px;font-family:arial;">
        <div style="font-size:30px;margin:5px"><center><b>Scan Me For Property Details</b></center></div>
        <div style="">
          <% qr = RQRCode::QRCode.new("http://#{request.host_with_port}/properties_detail/#{@properties.id}",:size => 10).to_img.resize(200, 200).to_data_url %>
          <div style="width:350px;height:320px;margin-left:120px;"><center><%=image_tag(qr, :height=> "320",:width=>"350") %></center></div>  
        </div>
      </div>
    </div>

    <div style="float:right;width:620px;">
      <div style="height:80px;color:white;font-size:40px;background-color:#903c9e;padding-top:20px;padding-left:240px;"><b>Quote Me</b></div>
      <div style="height:350px;border:1px solid #903c9e;vertical-align:middle; padding:20px;font-family:arial;">
        <div style="font-size:30px;margin:5px;"><center><b>Quote This Reference Number For More Information</b></center></div>
        <div style="">
          <div style="font-size:40px;margin-top:100px"><center><b><%="SP"+@properties.created_at.year.to_s.split(//).last(2).join()+@properties.created_at.month.to_s.rjust(2,'0')+@properties.id.to_s.rjust(4,'0')%></b></center></div>
        </div>
      </div>
    </div>
  </div>

  <div style="height:80px;color:white;font-size:40px;margin-top:30px;background-color:#903c9e;padding-top:20px;padding-left:560px"><b>Disclaimer</b></div>
  <div  style="height:490px;border:1px solid #903c9e;margin:0px;vertical-align:middle;padding:20px;font-family:arial;font-size:30px"><center><b>
    <p>
      Whilst every effort is made to ensure the contents of this brochure are accurate and true, the particulars are set out as a general outline for guidance purposes only and do not constitute any part of an offer or contract. Interested Parties should not rely on them as statements of representation of fact, but instead must satisfy themselves by inspection or otherwise as to their accuracy.
    </p>   
    <p>
      An Administration Fee is payable. Fees are typically £199 for a single tenancy. Please contact the office for more details.
    </p>
    <p>  
      Energy Performance Certificate (EPC) information is available upon request. Please contact the office.
    </p></b></center></div>
</div>
<div class="page-break" style="display:block; clear:both; page-break-after:always;"></div>

<div style="width:1300px;height:1875px;border:1px solid #903c9e">
  <div style="height:60px;color:white;font-size:40px;background-color:#903c9e;padding-top:10px;padding-left:570px"><b>Gallery</b></div>

  <% unless @properties.image2.url(:large).nil? %>
    <div style="position:relative;width:1300px;padding:5px">
      <%=image_tag(@properties.image2.url(:large).gsub("https","http"), :height=> "680",:width=>"1290") %>
    </div>
  <%end%>
  <% unless @properties.image3.url(:large).nil? %>
    <div style="float:right;width:625px;margin:5px;margin-top:25px">
      <%=image_tag(@properties.image3.url(:large).gsub("https","http"), :height=> "525",:width=>"625") %>
    </div>
  <%end%>
  <% unless @properties.image4.url(:large).nil? %>
    <div style="float:left;width:625px;margin:5px;margin-top:25px">
      <%=image_tag(@properties.image4.url(:large).gsub("https","http"), :height=> "525",:width=>"625") %>
    </div>
  <%end%>
  <% unless @properties.image5.url(:large).nil? %>
    <div style="float:right;width:625px;margin:5px;margin-top:25px">
      <%=image_tag(@properties.image5.url(:large).gsub("https","http"), :height=> "525",:width=>"625") %>
    </div>
  <%end%>
  <% unless @properties.image6.url(:large).nil? %>
    <div style="float:left;width:625px;margin:5px;margin-top:25px">
      <%=image_tag(@properties.image6.url(:large).gsub("https","http"), :height=> "525",:width=>"625") %>
    </div>
  <%end%>
</div>  

<div class="page-break" style="display:block; clear:both; page-break-after:always;"></div>

<div style="position:relative;height:1875px;width:1300px;">
  <div class="" style="height:60px;color:white;font-size:40px;background-color:#903c9e;padding-top:15px;padding-left:550px"><b>Description</b></div>
  <div style="height:500px;border:1px solid #903c9e;vertical-align:middle;padding:20px;font-family:arial;font-size:30px;"><center><b><%=@properties.short_description%></b></center></div>

  <div class="" style="height:60px;color:white;font-size:40px;background-color:#903c9e;padding-top:15px;padding-left:550px;margin-top:30px"><b>Specification</b></div>
  <div  style="height:1120px;border:1px solid #903c9e;vertical-align:middle;padding:20px;font-family:arial;"><center><%=@properties.description.html_safe%></center></div>
</div>  

<style type="text/css">
  .tag{
    width:auto;
    height:40px;
    font-weight: normal;
    display:inline-block;
    font-size:30px;
    color:#fff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    white-space:nowrap;
    vertical-align:baseline;
    background-color:#999;
    margin:5px;
    padding:15px;
    border-radius:10px;
  }
</style>