<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%#= wicked_pdf_stylesheet_link_tag "bootstrap.css" %>
<%#= wicked_pdf_stylesheet_link_tag "font-awesome.css" %>
<%# no_image = "#{Rails.root}/app/assets/images/default_images/no.jpg" %>
<% no_image = "" %>

<div style="border:1px solid #2e4588;height:1875px;width:1300px;">
  <div style="margin:10px">
    <center><%=wicked_pdf_image_tag("seal_logo.png", :height=>"200",:width=>"900") %></center>
  </div>
  <div style="height:280px;width:1300px;">
    <%if @properties.address1.to_i == 0 %>
      <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.address1}"%></b></center></div>
      <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.address2}"%></b></center></div>
    <%else%>
      <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.address1} #{@properties.address2}"%></b></center></div>
    <%end%>  
    <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.address3}"%></b></center></div>
    <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.town}"%></b></center></div>
    <div style="font-size:40px;margin:10px;font-family:arial"><center><b><%="#{@properties.postcode.to_s} #{@properties.postcode1.to_s}"%></b></center></div>
  </div>

  <div class="desc-type for-sale" style="height:auto;width:auto;position:absolute;top:530px; padding:5px;left:202px;color:white;font-size:30px;background: #FF6666;font-weight: bold;z-index:1;opacity:0.8"><%=property_status(@properties.category, @properties.status) %></div>
  
  <div style="margin:20px;width:900px;position:absolute;left:180px;border:2px solid #2e4588;height:700px">
    <center><%=image_tag(@properties.image1.url(:large).gsub("https","http"), :height=> "700",:width=>"898") %></center>
  </div>

  <div style="height:70px;width:<%=(@properties.category == "rent" || @properties.category == "Rent") ? "130px" : "230px" %>;position:absolute;font-weight: bold;background-color: rgba(0,0,0,0.6);font-size: 50px;color:white;padding:10px;top:1141px;left:202px">
    &pound; <%= @properties.price.to_i.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>
  </div>

  <div style="position:absolute; top:1300px;height:450px;width:1300px;">
      <div style="font-size:40px;font-family:arial"><center><b><%="#{@properties.short_description}"%></b></center></div>
  </div>

  <div style="position:absolute;top:1780px;left:60px;">
    <center><%=wicked_pdf_image_tag("contact_info.png", :height=> "80", :width => "1200") %></center>
    <div style="font-size:15px;margin:0px;font-family:arial;margin-left:80px"><center><b>Seal Partnership Limited T/A Seal Properties. Registered Company No: 8589070<span style="float:right"><%="SP"+@properties.created_at.year.to_s.split(//).last(2).join()+@properties.created_at.month.to_s.rjust(2,'0')+@properties.id.to_s.rjust(4,'0')%></span></b></center></div>
  </div>
</div>
<div class="page-break" style="display:block; clear:both; page-break-after:always;"></div>

<div style="width:1300px;height:1900px;border:1px solid transparent">
  <% unless @properties.image2.url(:large).nil? %>
    <div style="float:left;width:625px;height:550px;">
      <%=image_tag(@properties.image2.url(:large).gsub("https","http"), :height=> "550",:width=>"625") %>
    </div>
  <%end%>
  <% unless @properties.image3.url(:large).nil? %>
    <div style="float:right;width:625px;height:550px;">
      <%=image_tag(@properties.image3.url(:large).gsub("https","http"), :height=> "550",:width=>"625") %>
    </div>
  <%end%>
  <% unless @properties.image4.url(:large).nil? %>
    <div style="float:left;width:625px;margin-top:25px;height:550px;">
      <%=image_tag(@properties.image4.url(:large).gsub("https","http"), :height=> "550",:width=>"625") %>
    </div>
  <%end%>
  <% unless @properties.image5.url(:large).nil? %>
    <div style="float:right;width:625px;margin-top:25px;height:550px;">
      <%=image_tag(@properties.image5.url(:large).gsub("https","http"), :height=> "550",:width=>"625") %>
    </div>
  <%end%>
  <% unless @properties.image6.url(:large).nil? %>
    <div style="float:left;width:1300px;height:640px;margin-top:25px">
      <%=image_tag(@properties.image6.url(:large).gsub("https","http"), :height=> "640",:width=>"1300") %>
    </div>
  <%end%>
  <div style="left:60px;margin-top:10px;bottom:0;position:absolute;">
    <center><%=wicked_pdf_image_tag("contact_info.png", :height=> "80", :width => "1200") %></center>
    <div style="font-size:15px;margin:0px;font-family:arial"><center><b>Seal Partnership Limited T/A Seal Properties. Registered Company No: 8589070</b></center></div>
  </div>
</div>