<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%#= wicked_pdf_stylesheet_link_tag "bootstrap.css" %>
<%#= wicked_pdf_stylesheet_link_tag "font-awesome.css" %>
<% no_image = "#{Rails.root}/app/assets/images/default_images/no.jpg" %>

<div style="height:1000px">
  <div style="margin:10px">
    <center><%=wicked_pdf_image_tag("seal_logo.png", :height=>"150",:width=>"700") %></center>
  </div>

  <div style="height:300px">
    <div style="width:550px;height:300px;float:left;margin-left:1px">
      <center>
        <% p_image = params[:high_res]=="true" ? @properties.image1.url() : @properties.image1.url(:large)%>
        <%=image_tag(p_image.gsub("https","http"),:width=>"550",:height=>"300") %>
      </center>
    </div>

    <div style="width:300px;float:left;height:300px;margin-left:2%;">
      <div class="desc-type for-sale" style="height:auto;width:auto; padding:5px;color:white;font-size:30px;background: #FF6666;font-weight: bold;z-index:1;opacity:0.8"><center><b><%="#{property_status(@properties.category, @properties.status)}"%></b></center></div>
      <%if @properties.address1.to_i == 0 %>
        <div style="font-size:30px;margin:5px;font-family:arial;margin-top:20px;font-weight: bold"><center><b><%="#{@properties.address1}"%></b></center></div>
        <div style="font-size:30px;margin:5px;font-family:arial;font-weight: bold"><center><b><%="#{@properties.address2}"%></b></center></div>
      <%else%>
        <div style="font-size:30px;margin:5px;font-family:arial;margin-top:20px;font-weight: bold"><center><b><%="#{@properties.address1} #{@properties.address2}"%></b></center></div>
      <%end%>  
      <div style="font-size:30px;margin:5px;font-family:arial;font-weight: bold"><center><b><%="#{@properties.address3}"%></b></center></div>
      <div style="font-size:30px;margin:5px;font-family:arial;font-weight: bold"><center><b><%="#{@properties.town}"%></b></center></div>
      <div style="font-size:30px;margin:5px;font-family:arial;font-weight: bold"><center><b><%="#{@properties.postcode.to_s} #{@properties.postcode1.to_s}"%></b></center></div>
      <div style="font-size:40px;margin:5px;font-family:arial;margin-top:10px;font-weight: bold"><center><b>&pound; <%= @properties.price.to_i.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></b></center></div>
    </div>

    <div style="width:550px;height:300px;float:right;margin-right:1px">
      <center>
        <% p_image = params[:high_res]=="true" ? @properties.image2.url() : @properties.image2.url(:large)%>
        <%=image_tag(p_image.gsub("https","http"),:width=>"550",:height=>"300") unless @properties.image2.url().nil? %>
      </center>
    </div>
  </div>

  <div style="height:100px;margin-top:10px">
    <div style="font-size:20px;font-family:arial;font-weight: bold"><center><b><%="#{@properties.short_description}"%></b></center></div>
  </div>

  <div style="height:330px;margin-top:10px;text-align: center;">
    <span class="image">
      <% unless @properties.image3.url().nil? %>
        <% p_image = params[:high_res]=="true" ? @properties.image3.url() : @properties.image3.url(:large)%>
        <%=image_tag(p_image.gsub("https","http"),:width=>"355",:height=>"329") %>
      <% end %>
    </span>
    <span class="image">
      <% unless @properties.image4.url().nil? %>
        <% p_image = params[:high_res]=="true" ? @properties.image4.url() : @properties.image4.url(:large)%>
        <%=image_tag(p_image.gsub("https","http"),:width=>"355",:height=>"329") %>
      <% end %>  
    </span>
    <span class="image">
      <% unless @properties.image5.url().nil? %>
        <% p_image = params[:high_res]=="true" ? @properties.image5.url() : @properties.image5.url(:large)%>
        <%=image_tag(p_image.gsub("https","http"),:width=>"355",:height=>"329") %>
      <% end %>  
    </span>
    <span class="image">
      <% unless @properties.image6.url().nil? %>
        <% p_image = params[:high_res]=="true" ? @properties.image6.url() : @properties.image6.url(:large)%>
        <%=image_tag(p_image.gsub("https","http"),:width=>"355",:height=>"329") %>
      <% end %>  
    </span>
  </div>  

  <div style="">
    <center><%=wicked_pdf_image_tag("contact_info.png", :height=> "55") %></center>
    <div style="font-size:15px;margin:0px;font-family:arial;margin-left:80px;font-weight: bold"><center><b>Seal Partnership Limited T/A Seal Properties. Registered Company No: 8589070<span style="float:right"><%="SP"+@properties.created_at.year.to_s.split(//).last(2).join()+@properties.created_at.month.to_s.rjust(2,'0')+@properties.id.to_s.rjust(4,'0')%></span></b></center></div>
  </div>
</div>

<style type="text/css">
  .image{
    margin-left:9px
  }
</style>