<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%= wicked_pdf_stylesheet_link_tag "bootstrap.css" %>
<%= wicked_pdf_stylesheet_link_tag "font-awesome.css" %>
<% no_image = "#{Rails.root}/app/assets/images/default_images/no.jpg" %>

<div class="float-left" style="border:1px solid Blue;height:1500px;background-color:white;margin:15px;width:1030px">
  <div class="" style="margin:10px"><center><%=wicked_pdf_image_tag("seal_logo.png") %></center></div>
  <!-- <div style="font-size:40px;margin:5px"><center><b><%#="#{@properties.name}"%></b></center></div> -->
  <div style="height:280px;width:1000px;">
    <div style="font-size:40px;margin:10px"><center><b><%="#{@properties.address1}"%></b></center></div>
    <div style="font-size:40px;margin:10px"><center><b><%="#{@properties.address2}"%></b></center></div>
    <div style="font-size:40px;margin:10px"><center><b><%="#{@properties.address3}"%></b></center></div>
    <div style="font-size:40px;margin:10px"><center><b><%="#{@properties.postcode}"%></b></center></div>
  </div>

  <div class="desc-type for-sale" style="height:50px;width:125px;position:absolute;top:496px; padding:5px;left:197;color:white;font-size:30px;background: #FF6666;font-weight: bold;z-index:1;opacity:0.8"><%=(@properties.category == "rent" || @properties.category == "Rent") ? "To Rent" : "To Sale" %></div>
  
  <div style="margin:20px;width:650px;position:absolute;left:175px;border:2px solid Blue;">
    <center><%=image_tag(@properties.image1.url, :height=> "560",:width=>"650") %></center>
  </div>

  <div style="height:70px;width:<%=(@properties.category == "rent" || @properties.category == "Rent") ? "130px" : "230px" %>;position:absolute;font-weight: bold;background-color: rgba(0,0,0,0.8);font-size: 50px;color:white;padding:10px;top:967px;left:197px">
    &pound; <%= @properties.price.to_i %>
  </div>

  <div style="height:60px;width:1029px;background-color:purple;font-size:30px;margin:10px;color:white;font-family:arial;position:absolute; top:1100px;left:6px;padding-top:15px;">
    <b style="padding-left:450px"><%=@properties.tag_line%></b>
  </div>

  <div style="position:absolute; top:1260px;height:80px;width:1015px;">
    <span class="label" style="width:100px;height:40px;color:black;font-weight: normal;display:inline-block;padding:2px;font-size:20px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);white-space:nowrap;vertical-align:baseline;background-color:#999;margin:10px;padding-top:15px"> <i class="icon-circle-arrow-right"></i>Beds : <%= @properties.beds %></span>
    
    <span class="label" style="width:100px;height:40px;color:black;font-weight: normal;display:inline-block;padding:2px 4px;font-size:20px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);white-space:nowrap;vertical-align:baseline;background-color:#999;margin:10px;padding-top:15px"><i class="icon-large icon-glass"></i>Bath : <%= @properties.bath %></span>
    
    <span class="label" style="width:150px;height:40px;color:black;font-weight: normal;display:inline-block;padding:2px 4px;font-size:20px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);white-space:nowrap;vertical-align:baseline;background-color:#999;margin:10px;padding-top:15px;"> Parking : <%= @properties.parking %></span>
    
    <span class="label" style="width:150px;height:40px;color:black;font-weight: normal;display:inline-block;padding:2px 4px;font-size:20px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);white-space:nowrap;vertical-align:baseline;background-color:#999;margin:10px;padding-top:15px;"><i class="icon-large icon-glass"></i>Garden : <%#= @properties.bath %></span>
    
    <span class="label" style="width:150px;height:40px;color:black;font-weight: normal;display:inline-block;padding:2px 4px;font-size:20px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);white-space:nowrap;vertical-align:baseline;background-color:#999;margin:10px;padding-top:15px;"> Gas CH : <%= @properties.gas_ch %></span>
    
    <span class="label" style="width:150px;height:40px;color:black;font-weight: normal;display:inline-block;padding:2px 4px;font-size:20px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);white-space:nowrap;background-color:#999;margin:10px;padding-top:15px"><i class="icon-large icon-glass"></i>DG : <%#= @properties.bath %></span>
  </div>

  <div style="position:absolute;top:1440px;left:20px">
    <center><%=wicked_pdf_image_tag("contact_info.png", :height=> "60", :width => "1000") %></center>
  </div>
</div>

<div>
  <div class="" style="height:60px;color:white;margin:15px;font-size:30px;margin-top:30px;background-color:purple;padding-top:15px;padding-left:420px"><b>Description</b></div>
  <div style="height:600px;border:1px solid purple;margin:15px;vertical-align:middle;padding:20px;font-family:arial;font-size:30px;"><center><b><%=@properties.short_description%></b></center></div>

  <div class="" style="height:60px;color:white;margin:15px;font-size:30px;margin-top:30px;background-color:purple;padding-top:15px;padding-left:420px"><b>Specification</b></div>
  <div  style="height:600px;border:1px solid purple;margin:15px;vertical-align:middle;padding:20px;font-family:arial;font-size:30px;"><center><b><%=@properties.description.html_safe%></b></center></div>
</div>  

<!-- <div class="page-break" style="display:block; clear:both; page-break-after:always;"></div>
 -->
<div class="float-left" style="margin:15px">
  <% no_image = "#{Rails.root}/app/assets/images/default_images/no.jpg" %>
  <div class="float-left" style="position:relative;top:0px;left:0px;width:500px;"><%=image_tag(@properties.image2.present? ? @properties.image2.url(:large) : no_image, :height=> "1100",:width=>"500") %></div>
  <div class="float-left" style="position:relative;top:40px;left:0px;width:500px;"><%=image_tag(@properties.image3.present? ? @properties.image3.url(:large) : no_image, :height=> "340",:width=>"500") %></div>
  <div class="float-right" style="position:relative;top:-1440px;left:550px;width:500px;"><%=image_tag(@properties.image4.present? ? @properties.image4.url(:large) : no_image, :height=> "340",:width=>"500") %></div>
  <div class="float-right" style="position:relative;top:-1400px;left:550px;width:500px;"><%=image_tag(@properties.image5.present? ? @properties.image5.url(:large) : no_image, :height=> "340",:width=>"500") %></div>
  <div class="float-right" style="position:relative;top:-1360px;left:550px;width:500px;"><%=image_tag(@properties.image6.present? ? @properties.image6.url(:large) : no_image, :height=> "340",:width=>"500") %></div>
  <div class="float-right" style="position:relative;top:-1320px;left:550px;width:500px;"><%=image_tag(@properties.image7.present? ? @properties.image7.url(:large) : no_image, :height=> "340",:width=>"500") %></div>
</div>  

<div style="position:absolute;bottom:-232px">
  <div class="" style="height:60px;color:white;margin:15px;font-size:30px;margin-top:30px;background-color:purple;padding-top:15px;padding-left:420px"><b>Contact Us</b></div>

  <div style="height:800px;border:1px solid black;margin:15px;vertical-align:middle; padding:20px;font-family:arial">
    <div style="float:left;">
      <div style="font-size:40px;padding:10px"><center><b>Agent Information</b></center></div>
      <div class="" style="margin-top:40px;margin:20px">
        <div style="font-size:30px;margin:5px"><center><b><%=@properties.agent.name%></b></center></div>
        <div style="font-size:30px;margin:5px"><center><b><%=@properties.agent.name.downcase%>@sealproperties.co.uk</b></center></div>
        <div style="font-size:30px;margin:5px"><center><b><%=@properties.agent.phone%></b></center></div>
        <div style="font-size:30px;margin:5px"><center><b>167-169 Saltwell Road</b></center></div>
        <div style="font-size:30px;margin:5px"><center><b>Gateshead, NE8
4JT</b></center></div>
      </div>
      
    </div>

    <div style="float:right;">
      <div style="width:420px;"><center><%=image_tag(@properties.agent.image.present? ? @properties.agent.image.url(:large) : no_image, :height=> "400",:width=>"400") %></center></div>
    </div>

    <div style="float:left;">
      <% qr = RQRCode::QRCode.new("http://#{request.host_with_port}/properties_detail/#{@properties.id}",:size => 10).to_img.resize(200, 200).to_data_url %>
      <div style="width:350px;height:300px;margin-top:50px;margin-left:300px"><center><%=image_tag(qr, :height=> "300",:width=>"350") %></center></div>  
    </div>

  </div>

  <div class="" style="height:60px;color:white;margin:15px;font-size:30px;margin-top:30px;background-color:purple;padding-top:15px;padding-left:420px"><b>Disclaimer</b></div>
  <div  style="height:400px;border:1px solid black;margin:15px;vertical-align:middle;padding:20px;font-family:arial"><center><b></b></center></div>
</div>
