<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%= wicked_pdf_stylesheet_link_tag "bootstrap.css" %>
<div class="well"><center><%=wicked_pdf_image_tag("seal_logo.png", :height=> "120",:width=>"700") %></center></div>

<div class="float-left" style="width:330px;">
  <div style="font-size:30px;margin:5px"><b><%="#{@properties.name}"%></b></div>
  <div style="font-size:30px;margin:5px"><%="#{@properties.address1}"%></div>
  <div style="font-size:30px;margin:5px"><%="#{@properties.address2}"%></div>
  <div style="font-size:30px;margin:5px"><%="#{@properties.address3}"%></div>
  <div style="font-size:30px;margin:5px"><%="Price: £#{(@properties.price).to_s}"%></div>
  <div style="margin:10px"><%=image_tag("https://maps.googleapis.com/maps/api/staticmap?size=300x400&maptype=roadmap&sensor=false&zoom=12&markers=#{((@properties.coordinates).nil? ? "" :(@properties.coordinates).split(",")[0].to_f)}%2C#{((@properties.coordinates).nil? ? "" :(@properties.coordinates).split(",")[1].to_f)}", :height=> "405  ",:width=>"300") %></div>
  <div style="font-size:30px;margin:10px"><%="Phone: #{@properties.user.phone}"%></div>
</div>  
<div>
  <% no_image = "#{Rails.root}/app/assets/images/default_images/no.jpg" %>
  <div class="float-right" style="position:absolute;top:190px;left:350px;width:704px;"><%=image_tag(@properties.image1.present? ? @properties.image1.url(:large) : no_image, :height=> "320",:width=>"700") %></div>
  <div class="float-right" style="position:absolute;top:550px;left:350px;width:340px;"><%=image_tag(@properties.image2.present? ? @properties.image2.url(:large) : no_image, :height=> "320",:width=>"335") %></div>
  <div class="float-right" style="position:absolute;top:550px;left:715px;width:340px;"><%=image_tag(@properties.image3.present? ? @properties.image3.url(:large) : no_image, :height=> "320",:width=>"335") %></div>
</div>  
<div style="position:absolute;top:180px;right:0px;width:400px;">
  <span style="font-size:30px;"><b>Description:</b></span><br/> 
  <span style="font-size:20px;"><%=@properties.description.html_safe%></span>
</div>