

<!--Start Content-->
<div id="content">
  <!--    News Carousel-->
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <dt><a href="#">News Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
      <dt><a href="#">Promo Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
      <dt><a href="#">Another Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
    </dl>
  </div>
  <!--    End News Carousel-->
  <div class="cont" style="max-width:1180px">

<h3><b>Properties</b></h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Postcode</th>
      <th>Price</th>
      <th>Beds</th>
      <th>Bath</th>
      <th>Category</th>
      <th>Payment Status</th>
      <th>Validate Upto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.postcode %></td>
        <td><%= property.price.to_i %></td>
        <td><%= property.beds %></td>
        <td><%= property.bath %></td>
        <td><%= property.category %></td>
        <td><%= property.payment %></td>
        <td><%= property.validity %></td>
        <td><%= link_to 'Show', property %></td>
          <% if can? :update, @property %>
        <td><%= link_to 'Edit', edit_property_path(property) %> </td>
          <% end %>
          <% if can? :destroy, @property %>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
              <% end %>
          <% if current_user.status == "admin" %>
            <td>  <div class="add_loader" id= <%="approve_#{property.id}"%>>  <%= button_to (property.approve == false ? 'Approve' : 'Unapprove'), {:controller => "properties", :action => "approve", :id => property.id, :status => property.approve == false ? 'Approve' : 'Unapprove'}, :method=>:post,:remote=>true %>  </div> </td>
          <% elsif current_user.status == "landlord" %>
            <% if property.payment == true && (((property.validity - DateTime.now)/1.days) < 7)%>
                <td> <div class="add_loader" id= <%="payment_#{property.id}"%>>  <%= button_to 'Renew', {:controller => "properties", :action => "landlord_payment", :id => property.id}, :method=>:get %>  </div> </td>
            <%else%>
              <td>  <div class="add_loader" id= <%="payment_#{property.id}"%> >  <%= button_to (property.payment == false ? 'Confirm Payment' : 'Confirmed'), {:controller => "properties", :action => "landlord_payment", :id => property.id}, :method=>:get,:disabled =>(property.payment == false ? false : true) %>  </div> </td>
              <%end%>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <% if can? :create, @property %>
<%= link_to 'New Property', new_property_path if can? :create, Property %>
<% end %>
</div><!--End Form Singup-->
</div><!--EndContent-->

<script type="text/javascript">
    $(".add_loader").click(function(e){
        var opts = {
            lines: 17, // The number of lines to draw
            length: 40, // The length of each line
            width: 22, // The line thickness
            radius: 60, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 90, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1.3, // Rounds per second
            trail: 96, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
        };
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);
        var spinner = new Spinner().spin();
        $('.loading').appendChild(spinner.el);
        //$('.loading').html('<img src="http://www.lettersmarket.com/uploads/lettersmarket/blog/loaders/common_gray/ajax_loader_gray_256.gif"> loading...');

    })
</script>


