

<!--Start Content-->
<div id="content">
  <!--    News Carousel-->
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <!--    End News Carousel-->
  <div class="cont" style="max-width:1200px">

<h3><b>Properties</b></h3>
   <%if current_user.status == "admin"%>
    <% if current_user.fb_token.nil? %>
      <!-- <a class= "btn connect_fb" href="/connect_facebook">Connect Facebook</a>     -->
      <%= button_to "Connect Facebook","/connect_facebook",:class=>"btn btn-primary"%>
    <%else%>
      <a class= "btn disconnect_fb btn-primary" href="/disconnect_fb">Connected with Facebook</a>
    <%end%>  
   <%end%>

    <% if can? :create, @property %>
        <%= button_to "New Property", "/properties/new", :method=>:get, :class=>"btn btn-warning new_property", :style=>"margin-left:1000px;margin-top:-90px;"%>
    <% end %>

<table id = "prop_info">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Beds</th>
      <th>Bath</th>
      <th>Category</th>
      <th>Payment</th>
      <th>Type</th>
      <th>Action</th>
      <th>Action</th>
      <th>Action</th>
      <!-- <th>PDF</th> -->
      <th>Brochure</th>
      <th>Seal Approved</th>
      <%# if current_user.status == "admin" %><!--<th>Brochure Upload</th>--><%#end%>
      <th>Approval</th>
      <th style="display:none">Approval</th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each_with_index do |property,i| %>
      <tr class="<%= 'bg_color' if property.user.status == 'landlord'%>" style="<%= 'color:red' if (property.status == "SSTC" || property.status == "SSTCM" || property.status == "Let Agreed")%>">
        <td><%= property.name %></td>
        <td>£<%= property.price.to_i.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
        <td><%= property.beds %></td>
        <td><%= property.bath %></td>
        <td><%= property.category %></td>
        <td><%= property.payment %></td>
        <td><%= property.property_type %></td>
        <td><%= link_to 'Show', "/properties_detail/"+property.slug %></td>
        <% if can? :update, @property %>
          <td><%= link_to 'Edit', edit_property_path(property),onClick: "$('.long_desc').cleditor();" %> </td>
        <% end %>
        
        <% if can? :destroy, @property %>
          <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        <% end %>
        <% if current_user.status == "admin" || (current_user.status == "landlord" && current_user.plan != "free") %>
          <!-- <td><%#= link_to 'Download', pdf_handle_path(:id => property.id, format: 'pdf') %></td> -->
          <td><%= link_to 'Main', brochure_path(:id => property.id, format: 'pdf') %>
          <%= link_to 'A3', brochure1_path(:id => property.id, format: 'pdf') %>
          <%= link_to 'A4', brochure2_path(:id => property.id, format: 'pdf') %></td>
        <%else%>
          <td><%= link_to 'N/A',"#" %></td>
        <%end%>
        <td><%=property.seal_approved ? 'Yes' : 'No'%></td>
        <%# if current_user.status == "admin" %>
          <!-- <td><button class="btn btn-primary pdf_upload" id="<%#= property.id%>"><%#= property.brochure_link.nil? ? "Upload": "Delete Pdf" %></button></td> -->
        <%#end%>
          <% if current_user.status == "admin" %>
            <td>  <div class="add_loader" id= <%="approve_#{property.id}"%>>  <%= button_to (property.approve == false ? 'Approve' : 'Unapprove'), {:controller => "properties", :action => "approve", :id => property.id, :status => property.approve == false ? 'Approve' : 'Unapprove'},:class=>property.approve == false ? 'btn btn-danger' : 'btn btn-success', :method=>:post, :remote=>true %>  </div> </td>
          <% elsif current_user.status == "landlord" %>
            <td>  <div class="add_loader <%= 'block_loader' if property.approval_status == "false" %>" id= <%="approve_#{property.id}"%>>  <%= button_to (property.approve == false ? (property.approval_status == "false" ? "Click here for approval" : "Waiting for approval") : "Approved"), {:controller => "properties", :action => "approve_property", :id => property.id, :status => property.approve == false ? (property.approval_status == "false" ? "Click here for approval" : "Waiting for approval") : "Approved" }, :class=>property.approve == false ? (property.approval_status == "false" ? "btn btn-primary approval-btn" : "btn btn-danger approval-btn") : "btn btn-success approval-btn", :method=>:post,:disabled => property.approval_status == "wait" || property.approval_status == "Approved",:remote=>true %>  </div> </td>
            <%# if property.payment == true && (((property.validity - DateTime.now)/1.days) < 7)%>
                <!--<td> <div class="add_loader" id= <%#="payment_#{property.id}"%>>  <%#= button_to 'Renew', {:controller => "properties", :action => "landlord_payment", :id => property.id}, :method=>:get %>  </div> </td>-->
            <%#else%>
              <!--<td>  <div class="add_loader" id= <%#="payment_#{property.id}"%> >  <%#= button_to (property.payment == false ? 'Confirm Payment' : 'Confirmed'), {:controller => "properties", :action => "landlord_payment", :id => property.id}, :method=>:get,:disabled =>(property.payment == false ? false : true) %>  </div> </td>-->
              <%#end%>
          <% end %>
          <td style="display:none"><%=i%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div><!--End Form Singup-->
</div><!--EndContent-->

<%= render 'shared/plans'%>

<script type="text/javascript">
    $(document).ready(function(){
      $("#prop_info").dataTable({
         "order": [[ 14, "asc" ]]
      })
    })
    $(".add_loader").click(function(e){
      if($(this).hasClass('block_loader') == false){
        var opts = {
            lines: 17, // The number of lines to draw
            length: 40, // The length of each line
            width: 22, // The line thickness
            radius: 60, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 90, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1.3, // Rounds per second
            trail: 96, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
        };
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);
        target.appendChild(spinner.el);
      }  
    })

$( ".disconnect_fb" )
  .mouseenter(function() {
    $( this ).html("Disconnect Facebook");
  })
  .mouseleave(function() {
    $( this ).html("Connected with Facebook");
  });

//  function onload() {
//      document.getElementById('prop_info').getElementsByTagName("tr").className = "alert_popup";
//      if(document.getElementsByTagName){
//
//          var table = document.getElementById('prop_info');
//          var rows = table.getElementsByTagName("tr");
//
//          for(i = 3; i < rows.length; i++){
//                  rows[i].className = "alert_popup";
//
//          }
//      }
//  }

//    function onload() {
//        var i, rows = document.getElementById("prop_info").getElementsByTagName("td.input.btn");
//        for (i = 3, i < rows.length; i++) {
//            rows[i].class = "alert_popup";
//        }
//    }
//    window.onload =function(){
//      onload();
//    }
       // $(document).ready(function(){
       //     $(".approval-btn").each( function (index) {
       //         index += 1;
       //         if (index != 1 && index != 2 && index != 3) {
       //             $(this).addClass("alert_popup");
       //             $(this).parent().parent().parent().removeClass("add_loader")
       //         }
       //     })
       // });

  
    // <% if current_user.status == "landlord" || current_user.plan == "free" %>
    // $(".approval-btn").click(function(e) {
    //     if ($(this).hasClass("alert_popup")) {
    //         e.preventDefault();
    //         e.stopPropagation();
    //         $('#loading').html('');
    //         $("#myModal").modal();
    //         $("#myModal").css("z-index",10000)
    //     }
    // });
    // <% end %>

    $(".new_property").click(function(e) {
      <% if current_user.status == "landlord" && current_user.plan == "free" && current_user.properties.count >= 3 %>
            e.preventDefault();
            e.stopPropagation();
            $('#loading').html('');
            $("#myModal").modal();
            $("#myModal").css("z-index",10000)
      <% end %>
    });

    $(".pdf_upload").click(function(){
      var src = $(this)
      var id = src.attr('id')
      var url = ""
      if(src.html() == "Upload"){
        url = "/upload_pdf?id="+id
      }else{
        url = "/delete_pdf?id="+id
      }
      $.ajax({
        type: "get",
        url: url,
        success: function(res){
          if(res.status == "ok"){
            if(src.html() == "Upload"){
              src.html("Delete Pdf")  
            }else{
              src.html("Upload")
            }
          }
        }
      })
    })

</script>




<style type="text/css">
  .dataTables_paginate .next{
    position: relative;
    bottom: 0;
    color: white !important;
  }
  select{
    width: 70px;
    float: none;
  }
  tr{
    background-color: #eee !important;
  }
  .bg_color{
    background-color: papayawhip !important
  }
</style>