

<!--Start Content-->
<div id="content">
  <!--    News Carousel-->
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <dt><a href="#">News Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
      <dt><a href="#">Promo Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
      <dt><a href="#">Another Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
    </dl>
  </div>
  <!--    End News Carousel-->
  <div class="cont">

<h3><b>Properties</b></h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Postcode</th>
      <th>Price</th>
      <th>Beds</th>
      <th>Bath</th>
      <th>Parking</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.postcode %></td>
        <td><%= property.price %></td>
        <td><%= property.beds %></td>
        <td><%= property.bath %></td>
        <td><%= property.parking %></td>
        <td><%= property.category %></td>
        <td><%= link_to 'Show', property %></td>
          <% if can? :update, @property %>
        <td><%= link_to 'Edit', edit_property_path(property) %> </td>
          <% end %>
          <% if can? :destroy, @property %>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
              <% end %>
          <% if current_user.status == "admin" %>
            <td>  <div id= "approve">  <%= button_to (property.user.approve == false ? 'Approve' : 'Unapprove'), {:controller => "properties", :action => "approve", :id => property.id, :status => property.user.approve == false ? 'Approve' : 'Unapprove'}, :method=>:post,:remote=>true %>  </div> </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <% if can? :create, @property %>
<%= link_to 'New Property', new_property_path if can? :create, Property %>
<% end %>
</div><!--End Form Singup-->
</div><!--EndContent-->


