      <!--Start Content-->
      <div id="content">
        <!--Start Main Title-->
        <div id="main-title-content">
          <img src="/assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
          <div class="container">
            <div class="panel">
              <h1>Upload Items</h1>
              <p>Sub Title Here</p>
            </div>
          </div>
        </div> <!--End Main Title-->
        <!--    News Carousel-->
        <div class="news-carousel-wrapper">
          <dl id="news-carousel" class="news-carousel-style">
            <%= render 'properties/news_carousel'%>
          </dl>
        </div>
        <!--    End News Carousel-->
        <div class="container">
          <div class="panel">
            <div class="box-line">
              <h3 class="title-heading">Please complete the form</h3>
            </div>
            <!-- Start List Step Upload-->

            <div class="clearfix"></div>
              <form class="bottom-line line-before" action="/tenant_search_result" method="get">
                <div class="proper-form-step-area">
                  <div class="tenant_search">
                      <div class="payment">
                  <div class="proper-singup">

                <label><h3>Search</h3></label>
                <%= search_form_for Property.search(params[:q]) do |f| %>
                    <div class="field">
                      <div class="input-block-level">
                        <%= f.label :name_cont, "Name" %>
                        <%= f.search_field :name_cont, class: "tc1size" %>
                      </div>
                      <div class="input-block-level">
                        <%= f.label :category_cont, "Category" %>
                        <%= f.select :category_cont, ["Rent","Sale"]%>
                      </div></br>
                      <div class="control-group half pull-left">
                        <%= f.label :price_lteq, "Min Price" %>
                        <%= f.search_field :price_lteq, class: "tpgsize" %>
                      </div>
                      <div class="control-group half text-right pull-right">
                        <%= f.label :price_gteq, "Max Price", class: "tsize"  %>
                        <%= f.search_field :price_gteq, class: "tpggsize" %>
                      </div>
                      <div class="input-block-level">
                        <%= f.label :beds_eq, "Beds" %>
                        <%= f.search_field :beds_eq, class: "tc1size" %>
                      </div>
                      <div class="input-block-level">
                        <%= f.label :bath_eq, "Bath" %>
                        <%= f.search_field :bath_eq, class: "tc1size" %>
                      </div>

                    </div>
                    <div class="actions"><%= f.submit "Search" %></div>
                 </div>
                </div>
                <% end %>
                      </div>
              </form>
          </div>
        </div>
      </div><!--EndContent-->

