
<!--Start Content-->
<div id="content">
  <!--Start Main Title-->
  <div id="main-title-content">
    <img src="/assets/properties/slider/fslider/p1.jpg" id="bg" alt="main-title"/>
    <div class="container">
      <div class="panel">
        <h1>Upload Items</h1>
        <p>Sub Title Here</p>
      </div>
    </div>
  </div> <!--End Main Title-->
  <!--    News Carousel-->
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <dt><a href="#">News Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
      <dt><a href="#">Promo Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
      <dt><a href="#">Another Link Here</a></dt>
      <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
    </dl>
  </div>
  <!--    End News Carousel-->
  <div class="container">
    <div class="panel">
      <div class="box-line">
        <h3 class="title-heading">Please complete the form</h3>
      </div>
      <!-- Start List Step Upload-->
      <div class="featured-grid right-space">

        <div class="grid-item grid-style-properties">
      <div class="clearfix"></div>
      <br/>
       <div class="tenant_adjust">
      <div class="proper-singup">
        <%= form_tag("/confirm_tenant_payment", :method=>"post") do |f| %>
          <div class="field">
            <%= label_tag "Name on card" %>
            <%= text_field_tag :name_on_card, nil, :required => true %>
          </div>
          <div class="field">
            <%= label_tag "Card Number" %>
            <%= text_field_tag :card_number, nil, :required => true %>
          </div>
          <div class="field", style="height:70px">
            <%= label_tag "Expire Date:" %>
            <%= select_month nil, {:add_month_numbers_true => true}, {name: "exp_month", :required => true} %>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: "exp_year", :required => true} %>
          </div>
          <div class="field">
            <%= label_tag "Security Code on Card (CVV)" %>
            <%= text_field_tag :card_id, nil, :required => true %>
          </div>
    
          <div class="field">
            <%= label_tag "Amount" %>
            <%= text_field_tag :amount, "$5.00", {:readonly=>"readonly"} %>
          </div>
          <div class="actions"></div>
          <%= submit_tag "Next" %>
        <% end %>
      </div>
 </div>
    </div>
    </div>
  </div>
</div><!--EndContent-->

