<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style" >
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="panel proper-form-bg" style="background-image:none">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="proper-login">
        <h1 class=""><i class="icon-user"></i> Sign In</h1>
        <hr>
        <!-- <div class="member-login">
          <img src="/assets/agents/a3.jpg" class="img-polaroid" width="90" alt="image-login"/>
          <div class="member-desc">
            <h3>Rose Angelina</h3>
            <a href="#">Continue Login</a>
          </div>
          <div class="clearfix"></div>
          <hr/>
        </div> -->
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me,:style=>"margin-top:-16px;margin-left:20px" %>
          </div>
        <% end -%>
        <hr>
        <div class="actions">
          <%= f.submit "Log in", class: "btn-proper btn" %>
        </div>
        <%= render "devise/shared/links" %>
      </div>  
    <% end %>
  </div>
</div>