<div id="landlord_details" class="tab-pane fade">
	<div style="float:left;margin:10px;width:25%">
	    <h3 class=""><b>Details</b></h3>
	    <%= f.fields_for(@property.build_user) do |user| %>
		    <div class="field">
		      <%= user.label :first_name %>
		      <%= user.text_field :first_name %>
		    </div>
		    <div class="field">
		      <%= user.label :last_name %>
		      <%= user.text_field :last_name %>
		    </div>
		    <div class="field">
		      <%= user.label :address1 %>
		      <%= user.text_field :address1 %>
		    </div>
		    <div class="field">
		      <%= user.label :address2 %>
		      <%= user.text_field :address2 %>
		    </div>
		    <div class="field">
		      <%= user.label :address3 %>
		      <%= user.text_field :address3 %>
		    </div>
		    <div class="field">
		      <%= user.label :postcode %>
		      <%= user.text_field :postcode %>
		    </div>
		    <div class="field">
		      <%= user.label :phone %>
		      <%= user.text_field :phone %>
		    </div>
		    <div class="field">
		      <%= user.label :mobile %>
		      <%= user.text_field :mobile %>
		    </div>
		    <div class="field">
		      <%= user.label :email %>
		      <%= user.text_field :email %>
		    </div>
		    <div class="field">
		      <%= user.label :dob %>
		      <%= user.text_field :dob %>
		    </div>
		<%end%>
	</div>
</div>