<div id="content">
  <div class="news-carousel-wrapper">
    <dl id="news-carousel" class="news-carousel-style">
      <%= render 'properties/news_carousel'%>
    </dl>
  </div>
  <div class="container" style="width:1230px">
    <div class="panel">
<!--       <div class="box-line">
        <h3 class="title-heading">Please complete the form</h3>
      </div> -->
      
      <%if params[:action]=="edit"%>
        <% url = landlord_path(@landlord) %>
      <%else%>
        <% url = landlords_path%>
      <%end%>
      
      <ul class="nav nav-tabs" style="margin:30px; margin-bottom:0;border-bottom:none">
        <li class="active"><a href="#landlord_profile">Profile</a></li>
        <li><a href="#contact_manager">Contact Manager</a></li>
      </ul>
      
      <%= form_for @landlord,url: url, html: { multipart: true,class: "" },:style=>"" do |f| %>
        <div class="proper-form-step" style="padding-top:0;margin: 0">
          <div class="tab-content" style="background: none !important;border:none !important">
            <%= render :partial => "landlords/profile", :locals=>{:f=>f} %>
            <%= render :partial => "landlords/contact_manager", :locals=>{:f=>f} %>
          </div>
        </div>

        <div style="padding:10px;margin-top:0px;margin-left:45%">
          <%= f.submit (params[:action]=="edit" ? "Update" : "Create"), class: "btn btn-proper btn-large", :style=>"margin:0" %>
        </div>  
      <%end%>
    </div>
  </div>
</div>

<style type="text/css">
  select{
    width: 100% !important;
  }
  
  .input-block-level{
    display: inline-block;
    width: 250px !important;
    float: right;
  }
  label{
    display: inline-block;
    width: auto;
    margin: 5px
  }
  #user_dob_1i{
    width: 20% !important;
    float: right;
  }
  #user_dob_2i{
    width: 30% !important;
    float: right;
  }
  #user_dob_3i{
    width: 15% !important;
    float: right;
  }
  .span5{
    margin-left: 0
  }
</style>
<script type="text/javascript">
  $(".btn-proper").click(function(e){
    var d = parseInt($("#user_dob_3i option:selected" ).text())
    var m = parseInt($("#user_dob_2i option:selected" ).val())
    var y = parseInt($("#user_dob_1i option:selected" ).text())
    if(isNaN(d) || isNaN(m) || isNaN(y)){
      e.preventDefault();
      alert("Please Enter your Date of Birth")
    }else if (new Date(y,m-1,d).getTime() > new Date().getTime() ){
      e.preventDefault();
      alert("cannot be future date")
    }
  })
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });
</script>