<div id="landlord_profile" class="tab-pane fade in active" style="width:100%;height:100%">
	<h4 style="margin-left:35px;margin-top: 35px">Personal Information</h4>
  <div class="proper-form-step-area" style="height: 450px">
    <div style="width:50%;height:400px;float: left">
      <div class="span5">
        <%= f.label :first_name, "<span style='color:red'>*</span>First Name".html_safe %>
        <%= f.text_field :first_name, class: "input-block-level", required: "true" %>
      </div>
      <div class="span5">
        <%= f.label :last_name, "<span style='color:red'>*</span>Last Name".html_safe %>
        <%= f.text_field :last_name, class: "input-block-level", required: "true" %>
      </div>
      <div class="span5">
        <%= f.label :address1, "Address 1" %>
        <%= f.text_field :address1, class: "input-block-level" %>
      </div>
      <div class="span5">
        <%= f.label "Address 2" %>
        <%= f.text_field :address2, class: "input-block-level" %>
      </div>
      <div class="span5">
        <%= f.label "Address 3" %>
        <%= f.text_field :address3, class: "input-block-level" %>
      </div>
      <div class="span5">
        <%= f.label :postcode, "Postcode" %>
        <%= f.text_field :postcode, class: "input-block-level" %>
      </div>
      <div class="span5">
        <%= f.label :mobile, "Mobile" %>
        <%= f.text_field :mobile, class: "input-block-level" %>
      </div>
      <div class="span5">
        <%= f.label :phone, "Alternative Phone" %>
        <%= f.text_field :phone, class: "input-block-level" %>
      </div>
      <div class="span5">
        <%= f.label :email %>
        <%= f.text_field :email, class: "input-block-level" %>
      </div>
      <div class="span5">
        <%= f.label :dob, "Date of Birth" %>
        <%= f.date_select :dob, class: "input-block-level", start_year: 2015,end_year: 1930 %>
      </div>
    </div>
    <div style="width:50%;height:400px;float: right">
      <div class="span5">
        <%= f.label :avatar, "Photo Upload" %><br/>
        <%= image_tag @landlord.avatar.url(:thumb), style: "width:200px;height:200px" %>
        <%= f.file_field :avatar, style: "margin-top:0px" %>
      </div>
      <div class="span5">
        <%= f.label :plan %>
        <%= f.select :plan, [['Basic', 'basic'], ['Pro', 'pro'],['Pro Plus', 'pro_plus'], ['Basic Plus', 'basic_plus']], class: "input-block-level", required: "true", style: "width: 70% !important; float: right" %>
      </div>
      <div class="span5" >
        <%= f.label :notes %>
        <%= f.text_area :notes, style: "width:98%;height:80px" %>
      </div>
    </div>
  </div>
  
  <%if params[:action]=="edit"%>
    <div class="proper-form-step-area">
      <h4>Properties</h4>
      <%= link_to "Add Property", "/properties/new?user_id=#{@landlord.id}", class: "btn btn-warning", style: "float: right;margin: 8px;color: white"%>
      <%#= button_to new_property_path(), :method=>:get, :class=>"btn btn-warning", :style=>"float: right;margin: 8px" do %>
        <!-- <%#=hidden_field_tag :user_id,@landlord.id%> Add Property -->
      <%#end%>
      <table id="landlord_info" class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Beds</th>
          <th>Bath</th>
          <th>Category</th>
          <th>Action</th>
          <th>Action</th>
          <th>Action</th>
        </tr>

        <%if @landlord.properties.empty?%>
          <tr><td>No Record.</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <%else%>
          <% @landlord.properties.each_with_index do |p,i| %>
            <tr>
              <td><%= p.name %></td>
              <td>£<%= p.price.to_i.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
              <td><%= p.beds %></td>
              <td><%= p.bath %></td>
              <td><%= p.category %></td>
              <td><%= link_to 'Show', "/properties_detail/"+p.slug %></td>
              <td><%= link_to 'Edit', edit_property_path(p), :method=>:get %> </td>
              <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
            </tr>
          <% end %>
        <%end%>
      </table>
    </div>
  <%end%>
</div>