<!DOCTYPE html>
<html>
<head>
  <title>SEAL Properties - Rental market specialists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Real Estate Template" />
  <meta name="description" content="Proper - Real Estate Responsive HTML5 Template">
  <meta name="author" content="yobio.indiewebstyle.com">
  <meta property="og:title" content="SEAL Properties - Rental market specialists">
  <meta property="og:type" content="property">
  <meta property="og:site_name" content="polar-sierra-6394.herokuapp.com">
  <meta property="og:url" content=<%=request.url%>>
  <meta property="og:image" content="/assets/R03R.png">
  <meta property="og:description" content="Proper - Real Estate Responsive HTML5 Template">

  <link href="/assets/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/assets/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/assets/style.css" rel="stylesheet" media="screen">
  <link href="/assets/colorbox/colorbox.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/assets/font-awesome.css"/>
  <link rel="shortcut icon" href="/assets/logo.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="main_container">
  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>
	<%= yield %>
</div>
<%= render 'layouts/footer' %>
<script type='text/javascript'>
    $('.alert').fadeOut(5000);
</script>
</body>
</html>
