<!DOCTYPE html>
<html>
	<head>
	    <title>Screen</title>

		<link href="/assets/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/assets/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="/assets/style.css" rel="stylesheet" media="screen">
		<link href="/assets/colorbox/colorbox.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="/assets/font-awesome.css"/>
		<link href="/assets/s3_direct_upload_progress_bars.css" rel="stylesheet" media="screen">
	  
		<script type="text/javascript" src="/assets/jquery.js"></script>
		<script type="text/javascript" src="/assets/jquery.storageapi.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

		<script src="/assets/gmap3/gmap3.min.js"></script>
		<script type="text/javascript" src="/assets/colorbox/jquery.colorbox-min.js"></script>
		<script type="text/javascript" src="/assets/proper.js"></script>
		<script type="text/javascript" src="/assets/bootstrap-tooltip.js"></script>
		<script type="text/javascript" src="/assets/Grid-A-Licious-master/jquery.grid-a-licious.min.js"></script>
		<script type="text/javascript" src="/assets/s3_direct_upload.js"></script>
		<script src="/assets/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1-packed.js"></script>


		<style type="text/css">
			/*body { overflow: hidden; }*/
		</style>

		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body style="<%='zoom:1.2' if params[:bigscreen] == 'true' %>">
		<%= render 'layouts/screen_header' %>
		<div class="main_container" style="padding-bottom:458px">
			<%= yield %>
		</div>
		<%#= render 'layouts/screen_footer' %>
	</body>
</html>
