<!DOCTYPE html>
<html>
	<head lang="en">
	    <title>Screen</title>
	    <meta name="p:domain_verify" content="4703b993a3d70d3941b7b0f075d433ac"/>
		<link href="/assets/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/assets/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="/assets/style.css" rel="stylesheet" media="screen">
		<link href="/assets/colorbox.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="/assets/font-awesome.css"/>
		<link href="/assets/s3_direct_upload_progress_bars.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="/assets/slicebox.css"/>
	  
		<script type="text/javascript" src="/assets/jquery.js"></script>
		<script type="text/javascript" src="/assets/jquery.storageapi.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

		<script src="/assets/gmap3.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.colorbox-min.js"></script>
		<script type="text/javascript" src="/assets/proper.js"></script>
		<script type="text/javascript" src="/assets/bootstrap-tooltip.js"></script>
		<script type="text/javascript" src="/assets/jquery.grid-a-licious.min.js"></script>
		<script type="text/javascript" src="/assets/s3_direct_upload.js"></script>
		<script src="/assets/jquery.carouFredSel-6.2.1-packed.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="/assets/modernizr.custom.46884.js"></script>
		<script src="/assets/jquery.slicebox.js"></script>


		<style type="text/css">
			body { overflow: hidden;position: absolute; }
		</style>

		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body style="<%='zoom:1.2' if params[:bigscreen] == 'true' %>">
		<%= render 'layouts/screen_header' %>
		<div class="main_container">
			<%= yield %>
		</div>
		<%= render 'layouts/screen_footer' %>
	</body>
</html>
