<div id="content">
  <div class="container" style="width:90%">
    <div class="row-fluid">
      <div class="span9">
        <div class="panel right-line" style="height:880px">
          <h2 class="main-heading bottom-line">
            <span class="main-circle-icon"><i class="icon-building"></i></span> 
            <%=@data.name%>
          </h2>
          <div class="detail-properties right-space">
            <div class="property ">
              <div class="row-fluid">
                <div class="span6">
                  <div class="property-images" style="120%">
                    <a href="#">
                      <div class="mask">
                        <% if @data.category == "rent" %>
                            <div class="desc-type for-sale">To Rent</div>
                        <% else %>
                            <div class="desc-type for-sale">For Sale</div>
                        <% end %>
                           <div class="price" style="z-index:1px;margin-bottom:20px">&pound; <%= @data.price.to_i %></div>
                      </div>
                      <% if @data.image1.url.empty? %>
                           <img alt='images' src="assets/default_images/no.jpg" class="full"/><span class="mask_hover"></span>
                      <% else %>
                        <%#= image_tag @data.image1.url, id: "big-image-preview", alt: "big-image-preview",style: "height:500px" %>
                          <ul id="sb-slider" class="sb-slider" style="position:static;width:116%">
                            <li><a href="#"><img src="https://sealpropertiesus.s3.amazonaws.com/uploads/property/image1/85/large_25rp.jpg" style="height:500px"></a></li>
                            <li><a href="#"><img src="https://sealpropertiesus.s3.amazonaws.com/uploads/property/image1/85/large_25rp.jpg" style="height:500px"></a></li>
                            <li><a href="#"><img src="https://sealpropertiesus.s3.amazonaws.com/uploads/property/image1/85/large_25rp.jpg" style="height:500px"></a></li>
                          </ul>
                      <% end %>
                    </a>
<%
=begin%>                    
                    <div class="list_image_detail" style="width:198%;margin-top:20px">
                      <ul id="list_images_property">
                        <%unless @data.image2.url.nil?%><li style="margin:2px;height:100px"><a href="#" data-title="Interior 02" ><img src=<%= @data.image2.url%>></a></li><%end%>
                        <%unless @data.image3.url.nil?%><li style="margin:2px;height:100px"><a href="#" data-title="Interior 03" ><img src=<%= @data.image3.url%>></a></li><%end%>
                        <%unless @data.image4.url.nil?%><li style="margin:2px;height:100px"><a href="#" data-title="Interior 04" ><img src=<%= @data.image4.url%>></a></li><%end%>
                        <%unless @data.image5.url.nil?%><li style="margin:2px;height:100px"><a href="#" data-title="Interior 05" ><img src=<%= @data.image5.url%>></a></li><%end%>
                        <%unless @data.image6.url.nil?%><li style="margin:2px;height:100px"><a href="#" data-title="Interior 06" ><img src=<%= @data.image6.url%>></a></li><%end%>
                        <%unless @data.image7.url.nil?%><li style="margin:2px;height:100px"><a href="#" data-title="Interior 06" ><img src=<%= @data.image7.url%>></a></li><%end%>
                        <%unless @data.image8.url.nil?%><li style="margin:2px;height:100px"><a href="#" data-title="Interior 06" ><img src=<%= @data.image8.url%>></a></li><%end%>
                        <%unless @data.image9.url.nil?%><li style="margin:2px;height:100px"><a href="#" data-title="Interior 06" ><img src=<%= @data.image9.url%>></a></li><%end%>
                        <%unless @data.image10.url.nil?%><li style="margin:2px;height:100px"><a href="#" data-title="Interior 06" ><img src=<%= @data.image10.url%>></a></li><%end%>
                      </ul>
                      <div class="clearfix"></div>
                      <%unless @data.image2.url.nil?%>
                        <a id="prev2" class="prev" href="#">&lt;</a>
                        <a id="next2" class="next" href="#">&gt;</a>
                      <%end%>
                    </div>
<%
=end%>                    
                  </div>
                </div>
                <div class="span6">
                  <div class="property-details" style="width:84%;margin-left:80px">
                    <h3><a href="#"><%="SP"+@data.created_at.year.to_s.split(//).last(2).join()+@data.created_at.month.to_s.rjust(2,'0')+@data.id.to_s.rjust(4,'0')%> <%= @data.name %></a></h3>
                    <p><%= @data.description %></p>
                    <p>
                      <span class="label"><i class="icon-circle-arrow-right"></i> Bath : <%= @data.bath %></span>
                      <span class="label"><i class="icon-circle-arrow-right"></i> Beds : <%= @data.beds %></span>
                      <span class="label"><i class="icon-circle-arrow-right"></i> Parking : <%= @data.parking %></span>
                      <div style="padding:20px"><%= image_tag @qr %> </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="panel">
          <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-map-marker"></i></span>  Location</h3>    
          <div class="bottom-line line-before">
            <div id="googleMap" class="" style="height:200px;margin-bottom:5px"></div>
            <p>
              Ward: <%=  (@datapat["code"] ==404 || @datapat["code"] ==nil) ? "" : (@datapat["administrative"]["ward"].nil? ? "" : "#{@datapat["administrative"]["ward"]["title"]}")   %>
              <br/>
              Council: <%=  (@datapat["code"] ==404 || @datapat["code"] ==nil) ? "" : "#{@datapat["administrative"]["council"]["title"]}"   %>
            </p>
          </div>
          <h3 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-user"></i></span> Agent</h3>
          <div class="agent-panel bottom-line line-before">
              <% @agent = @data.agent %>
              <% unless @agent.nil? %>
                <a href="#" class="agent-image ">
                    <img src="<%=@agent.image.url%>" class="img-polaroid" alt="agent">
                </a>
                <ul class="unstyled margin20">
                  <li><i class="icon-phone"></i><%= @agent.phone %></li>
                  <li><i class="icon-envelope"></i><%= @agent.email_id %></li>
                  <li><i class="icon-facebook"></i><%= @agent.fb_id %></li>
                  <li><i class="icon-twitter"></i><%= @agent.twitter_id %></li>
                </ul>
              <%else%>
                No Agent  
              <%end%>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  // $('#sb-slider').slicebox({autoplay : true,interval: 3000});
  init_gmap3()
})  
  function init_gmap3(){
    $(function(){
        var icon_villa = "/assets/map/hostel_0star.png"
        var icon_hotel = "/assets/map/villa.png"
        var img_p = "assets/properties/p1.jpg"
        $("#googleMap").gmap3({
            <% address =  "#{@data.address1} #{@data.address2} #{@data.address3}"%>
            map:{
                // CENTRAL MAP DEFAULT
                address:'<%= address %>',
                options:{
                    zoom:12,
                    scaleControl: false,
                    scrollwheel: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    }
                }
            },
            marker:{
                // DATA LOCATION
                values:[
                {
                  
                  <% a=@data.coordinates%>
                  <%lat = (a.nil? ? "" : a.split(",")[0].to_f) %>
                  <%lng = (a.nil? ? "" : a.split(",")[1].to_f) %>

                    latLng:[<%= lat%>,<%= lng%>], 
                    data:{
                        img_preview: img_p, 
                        properties_name:'<%= @data.name%>',
                        properties_desc:'<%=@data.description%>',
                        properties_link:"#", 
                        zip:'<%=@data.postcode%>', 
                        city:'<%=@data.address3%>'
                    }, 
                    options:{
                        icon: icon_hotel //Image or icon of shop want to display on map
                    }
                }
                ],
                
            }
      
        });
    });
}
</script>
